@charset "utf-8";

* {padding:0; margin:0;}
html {overflow-y:scroll; -webkit-text-size-adjust:none;}
body {word-break:keep-all;}
p {line-height:24px; margin:0.5em 0;}
body, a, select, button, pre, input, textarea {color:#333; font-weight:300; font-size:16px; font-family:'Open Sans', 'HelveticaNeue-Light', 'AppleSDGothicNeo-Light', 'Malgun Gothic', sans-serif, Arial, Dotum, Gulim, Verdana, Tahoma;}
h1, h2, h3, h4, h5, strong, b {font-weight:600;}
legend, .hidden {position:absolute; left:-9999px; width:1px; height:1px; font-size:0; line-height:0; overflow:hidden;}
caption {height:0; font-size:0; line-height:0; overflow:hidden;}
fieldset {border:0;}
li {list-style:none;}
img {vertical-align:middle; border:0;}
pre {white-space:pre-wrap;}
a {text-decoration:none;}
a:hover, button:hover {transition:all 300ms linear 0s;}
header, section, article, aside, footer, nav {display:block;}

/* 간격 */
.mt0 {margin-top:0px !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}
.mt55 {margin-top:40px !important;}
.mt60 {margin-top:60px !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mb50 {margin-bottom:50px !important;}
.pl10 {padding-left:10px !important;}
.pl20 {padding-left:20px !important;}
.pl30 {padding-left:30px !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb20 {padding-bottom:20px !important;}
.pb30 {padding-bottom:30px !important;}
.pb50 {padding-bottom:50px !important;}

/* 정렬 */
.al {text-align:left !important;}
.ar {text-align:right !important;}
.ac {text-align:center !important;}
.fl {float:left !important;}
.fr {float:right !important;}
.fn {float:none !important;}
.cl {clear:both;}
.clfix {overflow:hidden;}

/* 입력서식 */
input, button, textarea, select {box-sizing:border-box; vertical-align:middle;}
label {vertical-align:middle;}
input[type=text], input[type=password], input[type=number], input[type=tel], input[type=email], textarea {border:1px solid #ccccce; padding:10px; color:#666; line-height:20px; background:#fff;}
*[diable] {color:#888; background:#e4e4e4;}
input[type=text], input[type=password], input[type=number], input[type=tel], input[type=email] {height:40px; max-width:100%;}
input[type=text][readonly=readonly], input[type=password][readonly=readonly], input[type=number][readonly=readonly], input[type=tel][readonly=readonly], input[type=email][readonly=readonly] {background:#f8f8f8;}
input[disabled] {background:#e4e4e4;}
select {border:1px solid #ccccce; height:40px; padding:2px 7px; vertical-align:middle;}
textarea {width:100%; min-height:60px;}
select[style], input[style], input[size] {width:auto; min-width:0;}
button, input[type=submit] {border:0; padding:0; cursor:pointer; background:transparent;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0;}
input[type=file] {margin:auto; height:30px;}

@media only all and (min-width:768px) {
	input[type=text], input[type=password], input[type=number], input[type=tel], input[type=email], textarea {padding:10px 17px; line-height:29px;}
	input[type=text], input[type=password], input[type=number], input[type=tel], input[type=email] {height:51px;}
	select {height:51px; padding:3px 3px 3px 17px;}
}

input::-webkit-input-placeholder {color:#888;} /* Webkit */
input:-moz-placeholder {color:#888;} /* Firefox 4-18 */
input::-moz-placeholder {color:#888; opacity:1;} /* Firefox 19+ */
input:-ms-input-placeholder {color:#888;} /* IE10+ */
input.acc::-webkit-input-placeholder {color:#e6321e;} /* Webkit */
input.acc:-moz-placeholder {color:#e6321e;} /* Firefox 4-18 */
input.acc::-moz-placeholder {color:#e6321e;} /* Firefox 19+ */
input.acc:-ms-input-placeholder {color:#e6321e;} /* IE10+ */


@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type=file] {height:auto;}
}
