@charset "utf-8";

@font-face {
	font-family: 'NanumS';
	font-style: normal;
	font-weight: 400;
	-o-font-display: fallback;
	-ms-font-display: fallback;
	-moz-font-display: fallback;
	-webkit-font-display: fallback;
	src: url(fonts/NanumSquareR.eot);
	src: url(fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
	url(fonts/NanumSquareR.woff) format('woff');
}

@font-face {
	font-family: 'NanumS';
	font-style: normal;
	font-weight: 600;
	-o-font-display: fallback;
	-ms-font-display: fallback;
	-moz-font-display: fallback;
	-webkit-font-display: fallback;
	src: url(fonts/NanumSquareB.eot);
	src: url(fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
	url(fonts/NanumSquareB.woff) format('woff');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	-webkit-text-size-adjust: none;
}

body {
	word-break: keep-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-family: 'NanumS', 'Malgun Gothic', sans-serif, Arial, Dotum, Gulim, Verdana, Tahoma;
}

header,
section,
article,
aside,
footer,
nav {
	display: block;
}

fieldset {
	display: block;
	border: 0;
	padding: 0;
}

pre {
	white-space: pre-wrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
strong,
b {
	font-weight: 600;
}

a,
select,
button,
input,
textarea {
	font-family: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

button,
input[type=submit] {
	margin: 0;
	padding: 0;
	border: 0;
	color: inherit;
	cursor: pointer;
	background: transparent;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.tts {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

caption.tts {
	position: static;
	width: auto;
	height: 0;
}

body {
	background-color: #333;
}

#loading {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #333;
	z-index: 1000;
}

#intro {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	height: 200px;
	margin: -210px 0 0 0;
	text-align: center;
}

.logo {
	position: relative;
	margin: auto;
	background-color: #f49ac0;
	overflow: hidden;
}

.logo:before {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	content: '';
	background-color: #77cccd;
	animation: logoFade 10s;
	animation-direction: alternate;
	animation-iteration-count: infinite;

}

@keyframes logoFade {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.logo img {
	position: relative;
	width: 400px;
	margin: -1px 0;
	max-width: 100%;
	vertical-align: top;
}

.slogan {
	position: relative;
	margin-top: -1em;
	color: #999;
	font-size: 19px;
}

.slogan {
	position: relative;
	margin-top: -1em;
	color: #999;
	font-size: 19px;
}

.slogan strong {
	color: #fff;
}

.btn-help {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10%;
	text-align: center;
}

.btn-help a {
	color: #fff;
	font-size: 30px;
	line-height: 1.5;
	border-bottom: 2px solid #999;
	transition-duration: .2s;
}

.btn-help a:hover {
	color: #f49ac0;
	border-bottom-color: #f49ac0;
}

.btn-help a {
	display: inline-block;
	text-shadow: 0 10px 10px rgba(0, 0, 0, .8);
	-webkit-text-shadow: 0 10px 10px rgba(0, 0, 0, .8);
	transform: translateY(3px);
	-webkit-transform: translateY(3px);
	animation: bounce .3s ease infinite alternate;
	-webkit-animation: bounce .3s ease infinite alternate;
	animation-delay: 1s;
}

@keyframes bounce {
	100% {
		transform: translateY(-3px);
		-webkit-transform: translateY(-3px);
		text-shadow: 0 16px 25px rgba(0, 0, 0, .9);
		-webkit-text-shadow: 0 16px 25px rgba(0, 0, 0, .9);
	}
}

.help {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: 60px;
	background-color: #333;
}

.help-title {
	position: relative;
	max-width: 640px;
	color: #fff;
	font-weight: 600;
	font-size: 22px;
	padding-left: 20px;
}

.contact-us {
	height: calc(100vh - 60px);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.contact-us iframe {
	width: 100%;
	height: calc(100% + 1px);
	border: 0;
}

#plusfriend-addfriend-button {
	position: absolute;
	right: 20px;
	top: 12px;
}

#plusfriend-chat-button {
	position: absolute;
	right: 10px;
	top: 8px;
}

@media only all and (max-width:375px) {
	.slogan {
		margin-top: 0;
		font-size: 18px;
	}
	.help-title {
		font-size: 20px;
	}
	.help-title span {
		display: none;
	}
}
