@charset "utf-8";

@font-face {
	font-family: 'NanumS';
	font-style: normal;
	font-weight: 400;
	-o-font-display: fallback;
	-ms-font-display: fallback;
	-moz-font-display: fallback;
	-webkit-font-display: fallback;
	src: url(fonts/NanumSquareR.eot);
	src: url(fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
	url(fonts/NanumSquareR.woff) format('woff');
}

@font-face {
	font-family: 'NanumS';
	font-style: normal;
	font-weight: 600;
	-o-font-display: fallback;
	-ms-font-display: fallback;
	-moz-font-display: fallback;
	-webkit-font-display: fallback;
	src: url(fonts/NanumSquareB.eot);
	src: url(fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
	url(fonts/NanumSquareB.woff) format('woff');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	-webkit-text-size-adjust: none;
}

body {
	word-break: keep-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-family: 'NanumS', 'Malgun Gothic', sans-serif, Arial, Dotum, Gulim, Verdana, Tahoma;
}

header,
section,
article,
aside,
footer,
nav {
	display: block;
}

fieldset {
	display: block;
	border: 0;
	padding: 0;
}

pre {
	white-space: pre-wrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
strong,
b {
	font-weight: 600;
}

a,
select,
button,
input,
textarea {
	font-family: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

button,
input[type=submit] {
	margin: 0;
	padding: 0;
	border: 0;
	color: inherit;
	cursor: pointer;
	background: transparent;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.tts {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

caption.tts {
	position: static;
	width: auto;
	height: 0;
}

body {
	background-color: #111;
}

#loading {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	z-index: 1000;
}

.loader {
	position: relative;
	margin: calc(50vh - 100px) auto 0;
	width: 75px;
	height: 100px;
}

.loader__bar {
	position: absolute;
	bottom: 0;
	width: 10px;
	height: 50%;
	background: #fff;
	transform-origin: center bottom;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}

.loader__bar:nth-child(1) {
	left: 0px;
	transform: scale(1, 0.2);
	animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
	left: 15px;
	transform: scale(1, 0.4);
	animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
	left: 30px;
	transform: scale(1, 0.6);
	animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
	left: 45px;
	transform: scale(1, 0.8);
	animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
	left: 60px;
	transform: scale(1, 1);
	animation: barUp5 4s infinite;
}

.loader__ball {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
	animation: ball 4s infinite;
}

@keyframes ball {
	0% {
		transform: translate(0, 0);
	}
	5% {
		transform: translate(8px, -14px);
	}
	10% {
		transform: translate(15px, -10px);
	}
	17% {
		transform: translate(23px, -24px);
	}
	20% {
		transform: translate(30px, -20px);
	}
	27% {
		transform: translate(38px, -34px);
	}
	30% {
		transform: translate(45px, -30px);
	}
	37% {
		transform: translate(53px, -44px);
	}
	40% {
		transform: translate(60px, -40px);
	}
	50% {
		transform: translate(60px, 0);
	}
	57% {
		transform: translate(53px, -14px);
	}
	60% {
		transform: translate(45px, -10px);
	}
	67% {
		transform: translate(37px, -24px);
	}
	70% {
		transform: translate(30px, -20px);
	}
	77% {
		transform: translate(22px, -34px);
	}
	80% {
		transform: translate(15px, -30px);
	}
	87% {
		transform: translate(7px, -44px);
	}
	90% {
		transform: translate(0, -40px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes barUp1 {
	0% {
		transform: scale(1, 0.2);
	}
	40% {
		transform: scale(1, 0.2);
	}
	50% {
		transform: scale(1, 1);
	}
	90% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 0.2);
	}
}

@keyframes barUp2 {
	0% {
		transform: scale(1, 0.4);
	}
	40% {
		transform: scale(1, 0.4);
	}
	50% {
		transform: scale(1, 0.8);
	}
	90% {
		transform: scale(1, 0.8);
	}
	100% {
		transform: scale(1, 0.4);
	}
}

@keyframes barUp3 {
	0% {
		transform: scale(1, 0.6);
	}
	100% {
		transform: scale(1, 0.6);
	}
}

@keyframes barUp4 {
	0% {
		transform: scale(1, 0.8);
	}
	40% {
		transform: scale(1, 0.8);
	}
	50% {
		transform: scale(1, 0.4);
	}
	90% {
		transform: scale(1, 0.4);
	}
	100% {
		transform: scale(1, 0.8);
	}
}

@keyframes barUp5 {
	0% {
		transform: scale(1, 1);
	}
	40% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1, 0.2);
	}
	90% {
		transform: scale(1, 0.2);
	}
	100% {
		transform: scale(1, 1);
	}
}

#intro {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	width: 400px;
	max-width: 100%;
	height: 200px;
	margin: -210px auto 0;
	text-align: center;
}

.logo {
	position: relative;
	margin: auto;
	/*background-color: #f49ac0;*/
	overflow: hidden;
}

.logo:before {
	display: block;
	position: absolute;
	left: -200px;
	top: -200px;
	right: -200px;
	bottom: -200px;
	content: '';
	background-color: #77cccd;
	background: url(../images/bg-logo.jpg) no-repeat center center;
	background-size: 100% auto;
	animation: logoBgMove 30s;
	animation-iteration-count: infinite;
}

@keyframes logoFade {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@keyframes logoBgMove {
	0% {
		transform: translate(0, -50px) scale(1);
		-webkit-transform: translate(0, -50px) scale(1);
	}
	50% {
		transform: translate(-100px, -200px) scale(1.5);
		-webkit-transform: translate(-100px, -200px) scale(1.5);
	}
	100% {
		transform: translate(0, -50px) scale(1);
		-webkit-transform: translate(0, -50px) scale(1);
	}
}

.logo img {
	position: relative;
	width: 400px;
	margin: -1px 0;
	max-width: 100%;
	vertical-align: top;
}

.slogan {
	position: relative;
	margin-top: -0.5em;
	color: #999;
	font-size: 19px;
	z-index: 110;
}

.slogan strong {
	color: #fff;
}

.btn-learn {
	position: absolute;
	left: 0;
	right: 0;
	top: 57%;
	text-align: center;
}

.btn-learn a {
	display: inline-block;
	padding: 0 25px 0 80px;
	font-weight: 600;
	color: #fff;
	font-size: 18px;
	line-height: 50px;
	border-radius: 30px;
	background: #333 url(../images/ico-run.png) no-repeat 20px center;
	background-size: 50px auto;
}

.label {
	display: inline-block;
	color: #fff;
	font-size: 12px;
	padding: 3px 6px;
	line-height: 1.5;
	margin-left: 8px;
	vertical-align: middle;
	font-weight: normal;
}

.label-ongoing {
	background-color: firebrick;
}

.btn-help {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10%;
	text-align: center;
}

.btn-help a {
	color: #fff;
	font-size: 30px;
	line-height: 1.5;
	border-bottom: 2px solid #999;
	transition-duration: .2s;
}

.btn-help a:hover {
	color: #f49ac0;
	border-bottom-color: #f49ac0;
}

.btn-help a {
	display: inline-block;
	animation: bounce .3s ease infinite alternate;
	-webkit-animation: bounce .3s ease infinite alternate;
	animation-delay: 1s;
}

@keyframes bounce {
	0% {
		text-shadow: 0 10px 10px rgba(0, 0, 0, .8);
		-webkit-text-shadow: 0 10px 10px rgba(0, 0, 0, .8);
		transform: translateY(3px);
		-webkit-transform: translateY(3px);
	}
	100% {
		transform: translateY(-3px);
		-webkit-transform: translateY(-3px);
		text-shadow: 0 16px 25px rgba(0, 0, 0, .9);
		-webkit-text-shadow: 0 16px 25px rgba(0, 0, 0, .9);
	}
}

.help {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f6f6f6;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	transition-duration: .4s;
	-webkit-transition-duration: .4s;
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	z-index: 1000;
}

.help.opened {
	transform: translateY(0);
	-webkit-transform: translateY(0);
}

.help-title {
	position: relative;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	padding-left: 50px;
	background-color: #333;
}

.contact-us {
	height: calc(100vh - 50px);
}

.ios .contact-us {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.contact-us iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

.ios .contact-us iframe {
	position: relative;
	width: 100vw;
	height: calc(100% + 1px);
	-webkit-transform: translate3d(0, 0, 0);
}

#plusfriend-addfriend-button {
	position: absolute;
	right: 20px;
	top: 12px;
}

#plusfriend-chat-button {
	position: absolute;
	right: 15px;
	top: 10px;
	width: 72px;
	height: 34px;
}

#plusfriend-chat-button img {
	width: 100%;
	height: 100%;
}

.btn-back {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	background: url(../images/ico-arr-left.png) no-repeat center center;
	background-size: 20px auto;
	overflow: hidden;
}

@media only all and (max-width:375px) {
	.slogan {
		margin-top: 0;
		font-size: 18px;
	}
	.help-title {
		font-size: 20px;
	}
	.help-title span {
		display: none;
	}
}
