@charset "utf-8";

html,
body {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.modal-opened {
	position: relative;
	overflow: hidden;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	margin: 0;
	padding: 0 20px;
	color: #fff;
	line-height: 50px;
	font-weight: 600;
	font-size: 18px;
	transition-duration: .3s;
	-webkit-transition-duration: .3s;
	z-index: 500;
}

.header .nav-bar {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding-left: 20px;
	background-color: transparent;
	transition-duration: .3s;
	-webkit-transition-duration: .3s;
	z-index: 700;
}

.header > * {
	position: relative;
}

.header a {
	display: block;
	transition-duration: .3s;
	-webkit-transition-duration: .3s;
	text-decoration: none;
}

#gnb {
	color: #fff;
}

.ci-logo {
	opacity: 0;
	margin: 0;
	width: 120px;
	font-size: 30px;
	text-align: center;
	white-space: nowrap;
	transition-duration: .3s;
	-webkit-transition-duration: .3s;
}

.ci-logo a {
	display: block;
	text-decoration: none;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/logo-inseq-letter.png) no-repeat 0 center;
	background-size: 200px auto;

}

#btn-allmenu,
#btn-allmenu-close {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 61px;
	height: 50px;
	padding: 0 20px;
	color: #fff;
	font-weight: normal;
	font-size: 24px;
	z-index: 700;
}

.header-hide .ci-logo {
	opacity: 0;
}

.header-white .nav-bar {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.header-white #gnb {
	color: #000;
}

.header-white .ci-logo {
	opacity: 1;
}

.header-white #btn-allmenu {
	color: #222;
}


#gnb {
	position: absolute;
	top: 0;
	right: 25px;
}

#gnb ul {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 800;
}

#gnb li {
	display: inline-block;
	margin-left: 1em;
	vertical-align: top;
}

#gnb a {
	padding-top: 3px;
	border-bottom: 3px solid transparent;
	line-height: 44px;
}

#gnb a.active {
	/*color: #f49ac0;*/
	color: #da5d92;
	border-color: #da5d92;
}

.title-center {
	margin: 0 0 30px;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
}

.title-center + .desc {
	margin: -30px 0 40px;
	opacity: 0.6;
	font-size: 18px;
}

.inseq-logo {
	position: absolute;
	left: 0;
	right: 0;
	top: 48%;
	width: 400px;
	min-width: 320px;
	max-width: 100%;
	height: 200px;
	margin: -210px auto 0;
	text-align: center;
}

.logo {
	position: relative;
	margin: auto;
	overflow: hidden;
}

.logo:before {
	display: block;
	position: absolute;
	left: -200px;
	top: -200px;
	right: -200px;
	bottom: -200px;
	content: '';
	background: url(../images/bg-logo.jpg) no-repeat center center;
	background-size: 100% auto;
	animation: logoBgMove 30s;
	animation-iteration-count: infinite;
	z-index: 50;
}

.menu {
	margin: 0;
}

@keyframes logoFade {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

@keyframes logoFade {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

@keyframes logoBgMove {
	0% {
		transform: translate(0, -50px) scale(1);
		-ms-transform: translate(0, -50px) scale(1);
		-webkit-transform: translate(0, -50px) scale(1);
	}

	50% {
		transform: translate(-100px, -200px) scale(1.5);
		-ms-transform: translate(-100px, -200px) scale(1.5);
		-webkit-transform: translate(-100px, -200px) scale(1.5);
	}

	100% {
		transform: translate(0, -50px) scale(1);
		-ms-transform: translate(0, -50px) scale(1);
		-webkit-transform: translate(0, -50px) scale(1);
	}
}

.logo img {
	position: relative;
	width: 400px;
	margin: 0 -10px;
	max-width: calc(100% + 20px);
	vertical-align: top;
	z-index: 100;
}

.slogan {
	position: relative;
	margin-top: -0.1em;
	padding-bottom: 5px;
	color: #999;
	font-size: 19px;
	letter-spacing: 0.02em;
	background: #111;
	z-index: 110;
}

.slogan strong {
	color: #fff;
}

#home {
	position: relative;
	height: 100vh;
	margin-bottom: -45px;
	background: #111 url(../images/bg-intro.png) no-repeat center center;
	background-attachment: fixed;
	overflow: hidden;
}

#home .btn-area {
	position: absolute;
	left: 0;
	right: 0;
	min-width: 320px;
	top: 52%;
	text-align: center;
}

#home .btn {
	display: inline-block;
	width: 310px;
	max-width: 100%;
	text-align: center;
	font-weight: 600;
	color: #fff;
	font-size: 21px;
	white-space: nowrap;
	line-height: 55px;
	border-radius: 30px;
	background-color: #333;
	overflow: hidden;
}

#home .btn .fa {
	font-size: 36px;
	vertical-align: middle;
	margin-right: 5px;
	opacity: 0.3;
}

#home .btn-learn {
	padding: 0 20px 0 80px;
	background: #333 url(../images/ico-run.png) no-repeat 20px center;
	background-size: 46px auto;
}

.label {
	display: inline-block;
	color: #fff;
	font-size: 12px;
	padding: 3px 6px;
	line-height: 1.4;
	margin-left: 6px;
	vertical-align: middle;
	font-weight: normal;
	background-color: firebrick;
}

.btn-help {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10%;
	text-align: center;
}

.btn-help a {
	color: #fff;
	font-size: 30px;
	line-height: 1.5;
	border-bottom: 2px solid #999;
	transition-duration: .2s;
}

.btn-help a:hover {
	color: #f49ac0;
	border-bottom-color: #f49ac0;
}

.btn-help a {
	display: inline-block;
	animation: bounce .3s ease infinite alternate;
	-webkit-animation: bounce .3s ease infinite alternate;
	animation-delay: 1s;
}




@keyframes bounce {
	0% {
		text-shadow: 0 10px 10px rgba(0, 0, 0, .8);
		-webkit-text-shadow: 0 10px 10px rgba(0, 0, 0, .8);
		transform: translateY(3px);
		-ms-transform: translateY(3px);
		-webkit-transform: translateY(3px);
	}

	100% {
		transform: translateY(-3px);
		-webkit-transform: translateY(-3px);
		text-shadow: 0 16px 25px rgba(0, 0, 0, .9);
		-ms-text-shadow: 0 16px 25px rgba(0, 0, 0, .9);
		-webkit-text-shadow: 0 16px 25px rgba(0, 0, 0, .9);
	}
}

.bg-arrow {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	z-index: 400;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

#contact {
	/*display: none;*/
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: #333;
	transform: translateY(150%);
	-ms-transform: translateY(150%);
	-webkit-transform: translateY(150%);
	transition-duration: .6s;
	-ms-transition-duration: .6s;
	-webkit-transition-duration: .6s;
	transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	z-index: 1800;
}

#contact.opened {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
}

.contact-header {
	padding-left: 50px;
	background-color: #333;
}

.contact-title {
	position: relative;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	margin: 0;
	height: 50px;
	line-height: 50px;
}

.contact-us {
	height: calc(100% - 50px);
	background: #ede7f6;
}

.ios .contact-us {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.contact-us iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

.ios .contact-us iframe {
	position: relative;
	width: 100vw;
	height: calc(100% + 1px);
	-webkit-transform: translate3d(0, 0, 0);
}

#plusfriend-chat-button {
	display: block;
	position: absolute;
	right: 20px;
	top: 10px;
}

#plusfriend-chat-button img {
	width: 72px;
	vertical-align: top;
}

.btn-back {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	background: url(../images/ico-arr-left.png) no-repeat center center;
	background-size: 20px auto;
	overflow: hidden;
}

.location-marker {
	text-align: center;
	margin: 0;
	max-width: 200px;
	padding: 10px 20px;
	font-weight: 600;
	font-size: 18px;
}

section .inner {
	max-width: 1400px;
	margin: auto;
	padding: 45px 40px 55px;
}

.sub-section h2 {
	font-size: 32px;
}

.sub-section:nth-child(odd) {
	background-color: #f8f2f8;
}

section h3 {
	margin: 20px 0 15px;
	font-size: 23px;
}

.bx-wrapper {
	position: relative;
}

.bx-viewport {
	height: auto !important;
	margin: -23px 0;
	padding: 30px 0;
}

.bx-controls .bx-prev,
.bx-controls .bx-next {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	color: #fff;
	width: 60px;
	height: 60px;
	opacity: 0.5;
	font-size: 40px;
	text-align: center;
	z-index: 500;
}

.bx-controls .bx-prev {
	left: 0;
}

.bx-controls .bx-next {
	right: 0;
}

.portfolio-list {
	left: 50% !important;
	margin: -37px 0;
	padding: 30px 0;
	max-height: 572px;
	white-space: nowrap;
	overflow: hidden;
	z-index: 10;
}

.portfolio-list:after {
	display: block;
	clear: both;
	content: '';
}

.portfolio-list a {
	position: relative;
	display: inline-block;
	width: auto !important;
	transition-duration: .3s;
}

.portfolio-list a:after {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000;
	opacity: 0.5;
	transition-duration: .3s;
	content: '';
}

.portfolio-list img {
	max-height: 286px;
	vertical-align: top;
}

.portfolio-list .hover-content {
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	opacity: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	overflow: hidden;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);

}

.portfolio-list .hover-content:focus {
	outline: none;
}

.portfolio-list .hover-content dl {
	margin: 0;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
}

.portfolio-list .hover-content dl .hover-tit {
	font-size: 30px;
	margin: 0;
	padding: 0 40px;
	white-space: normal;

}

.portfolio-list .hover-content dl dd {
	margin: 0;
}

.portfolio-list .active {
	box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.3);
	z-index: 100;
	transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
}

.portfolio-list .active:after {
	opacity: 0;
}

.portfolio-list .active .hover-content {
	transform: scale(1.0013);
	-ms-transform: scale(1.0013);
	-webkit-transform: scale(1.0013);
}

#who-we-are {
	background-color: #f6cadc;
	background-color: #9ee3e3;
	background-color: #f8f2f8;
	overflow: hidden;
}

#who-we-are .btn-contact {
	display: inline-block;
	margin-top: 10px;
	padding: 0 30px;
	font-size: 18px;
	font-weight: 600;
	line-height: 50px;
	color: #fff;
	background-color: red;
}

.company-intro img {
	max-width: 100%;
}

#learn {
	position: relative;
	padding-bottom: 120px;
	padding-bottom: 170px;
	margin-bottom: -50px;
	text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
	background: url(../images/bg-stairs-dark.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

	.win8gt #home,
	.win8gt #learn {
		background-attachment: scroll;
	}
}

#learn .inner {
	position: relative;
	padding-top: 200px;
	padding-bottom: 120px;
	color: #fff;
	text-align: right;
}

#learn .word {
	display: inline-block;
}

#learn .btn-area {
	margin-top: 30px;
}

#learn .btn-learn {
	display: inline-block;
	padding: 0 30px;
	font-size: 18px;
	line-height: 50px;
	border: 2px solid rgba(255, 255, 255, 1);
}

#partners {
	color: #fff;
	background-color: #555;
	text-align: center;
	overflow: hidden;
}

#partners .inner {
	padding: 30px 20px 10px;
}

.partners-list {
	padding: 0;
}

.partners-list li {
	display: inline-block;
	margin: 0 80px 20px 0;
}

.partners-list li:last-child {
	margin-right: 0;
}

.partners-list img {
	max-height: 35px;
	vertical-align: middle;
}

.partners-list li:nth-child(1) img {
	max-height: 45px;
	opacity: 0.8;
}

.partners-list li:nth-child(2) img {
	max-height: 55px;
}

.partners-list li:nth-child(3) img {
	max-height: 70px;
}

.footer {
	color: #fff;
	background-color: #222;
	text-align: center;
	padding: 0 40px;
}

.footer .inner {
	display: inline-block;
	position: relative;
	max-width: 1400px;
	margin: auto;
	padding: 28px 0 28px 310px;
	text-align: left;
	color: #bbb;
	font-size: 13px;
	overflow: hidden;
}

.footer .logo-btm {
	position: absolute;
	left: 0;
	top: 32px;
}

.footer .logo-btm img {
	height: 50px;
	vertical-align: top;
}

.footer address {
	position: relative;
	padding-right: 150px;
	font-style: normal;
}

.footer .btn-kakaoplus {
	position: absolute;
	right: 0;
	top: 4px;
}

.footer .word {
	display: inline-block;
}

.copyright {
	margin: 0;
}

.btn-kakaoplus img {
	height: 50px;
}

#home-learn {
	position: relative;
	background-color: #b2c7d9;
	padding-top: 60px;
	margin: 0 auto -50px;
}

#home-learn .inner {
	max-width: 700px;
	padding-bottom: 150px;
	overflow: hidden;
}

#home-learn h2 {
	margin-top: 0;
}

#home-learn .btn-area {
	border-top: 1px dashed rgba(0, 0, 0, 0.3);
	margin-top: 20px;
	padding-top: 25px;
	text-align: center;
}

.slogan-keyword {
	margin: 1.5em 0;
}

.inseq-picture {
	margin: 20px 0 30px -1px;
	overflow: hidden;
}

.inseq-picture img {
	max-width: 100%;
	margin: 3px 1px;
	vertical-align: middle;
}

.chat-user,
.chat-admin {
	position: relative;
	border-radius: 5px;
	line-height: 1.3;
}

.chat-user {
	float: left;
	max-width: 250px;
	margin: 3em 30px 15px 50px;
	padding: 10px 20px;
	background: #fff;
}

.chat-user .user {
	top: -30px;
	left: 0;
	position: absolute;
}

.chat-user:before {
	position: absolute;
	top: -25px;
	left: -50px;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background: #fff;
	content: '';
}

.chat-admin {
	clear: both;
	float: right;
	max-width: 100%;
	margin-top: 10px;
	padding: 10px 20px 20px;
	background-color: #ffeb33;
}

div.chat-admin {
	width: 500px;
}

.btn-apply {
	display: inline-block;
	padding: 0 20px 0 80px;
	font-weight: 600;
	color: #fff;
	font-size: 18px;
	line-height: 50px;
	white-space: nowrap;
	text-decoration: none;
	border-radius: 30px;
	background: darkblue url(../images/ico-run.png) no-repeat 20px center;
	background-size: 46px auto;
}

.table {
	border-top: 2px solid #000;
	width: 100%;
	border-spacing: 0;
	background-color: #fff;
}

.table th,
.table td {
	height: 40px;
	padding: 5px 15px;
	border-bottom: 1px solid #ddd;
}

.table th + th,
.table td + td {
	border-left: 1px solid #ddd;
}

.table tbody th {
	padding: 5px 15px;
	background-color: #f8f2f8;
}

#what-we-do {
	background-color: #f8f2f8;
}

#what-we-do .inner {
	padding-bottom: 50px;
	overflow: hidden;
}

.service dl {
	margin: 0;
}

.service dt {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 10px;
}

.service dt .fa {
	margin: -0.08em 0.3em 0 0;
	vertical-align: middle;
	font-size: larger;
	color: #f49ac0;
}

.service dl:nth-child(even) dt .fa {
	color: #78cccc;
}

.service dd {
	margin-left: 0;
}

.service dl:last-child dd:before {
	content: '· ';
}

.tag-list {
	padding: 0;
}

.tag-list li {
	display: inline-block;
	/*border: 1px solid rgba(0, 0, 0, 0.1);*/
	margin: 2px 0;
	padding: 0 0.8em;
	font-size: 13px;
	line-height: 2;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.08);
}

.tag-list li:before {
	content: '#';
	margin-right: 1px;
	color: #666;
}

#map {
	height: 400px;
}

.traffic dd {
	margin-left: 0;
}

.location-info {
	padding: 50px 20px 40px;
	background-color: #eeeef5;
	color: #fff;
	background-color: #f49ac0;
	text-shadow: 2px 2px 2px #da5d92;
	overflow: hidden;
}

.location-info .title {
	color: #000;
}

.location-info .fa {
	opacity: 0.4;
	margin-right: 0.2em;
}

.location-address {
	margin-top: 0;
	font-size: 25px;
}

.traffic dt {
	font-size: 18px;
	font-weight: 600;
	margin: 1.5em 0 0.5em;
}

.portfolio-opened {
	overflow: hidden;
}

.portfolio-popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 20px;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 500;
	display: none;
	overflow-y: scroll;
}

.portfolio-inner {
	position: relative;
	width: 720px;
	max-width: 100%;
	margin: 50px auto;
	color: #fff;
	text-align: center;
	border-radius: 30px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 100);
	z-index: 10;
}

.portfolio-header {
	padding: 60px 74px 40px;
	background-image: url(../images/bg-pf-popup.png);
	background-repeat: no-repeat;
	background-position: center 40%;
	background-color: rgba(0, 0, 0, 0.5);
}

.portfolio-body {
	background-image: url(../images/bg-pf-popup2.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.portfolio-header .portfolio-title {
	font-size: 54px;
	margin: 0;
	letter-spacing: -2.5px;
}

.portfolio-header .date {
	font-size: 22px;
	margin: 8px 0 5px;
}

.portfolio-header .hash-tag-wrap {
	margin: 0 0 20px 14px;
}

.portfolio-header .hash-tag-wrap li {
	margin-right: 14px;
}

.hash-tag-wrap {
	padding: 0;
	list-style: none;
}

.hash-tag-wrap li {
	display: inline-block;
	margin-bottom: 5px;
	font-size: 15px;
	height: 23px;
	background-color: rgba(255, 255, 255, 0.08);
	padding: 0 5px;
	margin-right: 5px;
}


.hash-tag-wrap li:before {
	display: inline-block;
	content: '#';
}

.portfolio-header .content {
	text-align: left;
	font-size: 16px;
	margin: 0 0 30px 6px;
}

.portfolio-header .view-btn {
	text-align: center;
	margin: 0 0 73px 6px;
}

.portfolio-header .view-btn .btn-more {
	border: 1px solid #fff;
	width: 116px;
	height: 45px;
	line-height: 45px;
	padding: 10px 10px 10px 14px;
	font-size: 18px;
	font-weight: 600;
}

.portfolio-header .view-btn .btn-more[target=_blank]:after {
	display: inline-block;
	content: '';
	background: url(../images/ico-external-link.png) no-repeat center center;
	width: 32px;
	height: 18px;
	margin-left: 8px;
	vertical-align: middle;
}


.portfolio-header .view-btn .btn-android {
	border: 1px solid #fff;
	width: 116px;
	height: 45px;
	line-height: 45px;
	padding: 10px 7px 11px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -1px;
}

.portfolio-header .view-btn .btn-android[target=_blank]:before {
	display: inline-block;
	content: '';
	background: url(../images/ico-android-link.png) no-repeat center center;
	background-size: 25px auto;
	width: 25px;
	height: 29px;
	margin-right: 10px;
	vertical-align: middle;
}

.portfolio-header .view-btn .btn-ios {
	border: 1px solid #fff;
	width: 116px;
	height: 45px;
	line-height: 45px;
	padding: 10px 27px 11px;
	font-size: 18px;
	font-weight: 600;
}

.portfolio-header .view-btn .btn-ios[target=_blank]:before {
	display: inline-block;
	content: '';
	background: url(../images/ico-ios-link.png) no-repeat center center;
	background-size: 25px auto;
	width: 25px;
	height: 29px;
	margin-right: 10px;
	vertical-align: middle;
}

.portfolio-header .view-btn a + a {
	margin-left: 14px;
}

.portfolio-inner .btn-close-popup {
	background: url(../images/ico-popup-close.png) no-repeat center center;
	width: 75px;
	height: 75px;
	text-indent: -9999px;
	position: absolute;
	right: 0;
	top: 0;
}

.portfolio-header .screen-wrap {
	position: relative;
	padding-bottom: 480px;
}

.portfolio-header .screen-inner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	overflow: hidden;
	padding: 0px 18px 0;
	z-index: 1;
}

.portfolio-header .screen-inner img {
	width: 100%;
	height: 100%;
}

.portfolio-header .screen-wrap > img {
	width: 100%;
	height: 100%;
}

.portfolio-header .screen-wrap .pc-screen {
	position: absolute;
	left: 0;
	top: 0;
	margin: 19px 39px;
	overflow: hidden;
	width: 495px;
	height: 278px;
	max-width: 100%;
}

.portfolio-header .screen-wrap .pc-screen img {
	width: 100%;
	height: 100%;
}

.portfolio-header .tb-m-area {
	position: relative;
	padding-bottom: 80%;
}

.portfolio-header .tb-m-area .tablet {
	position: absolute;
	right: 20%;
	top: 0;
	width: 48%;
	height: 89.3%;
	z-index: 1;
}

.portfolio-header .tb-m-area .tablet img {
	width: 100%;
	height: 100%;
}

.portfolio-header .tb-m-area .tablet-screen {
	position: absolute;
	right: 21.9%;
	top: 8%;
	width: 256px;
	height: 340px;
}

.portfolio-header .tb-m-area .tablet-screen img {
	width: 100%;
	height: 100%;
}

.portfolio-header .tb-m-area .mobile-area {
	position: absolute;
	left: 25%;
	top: 5%;
	width: 100%;
	height: 100%;
	z-index: 1;
	transform: rotate(-31deg);
	-ms-transform: rotate(-31deg);
	-webkit-transform: rotate(-31deg);
}

.portfolio-header .tb-m-area .mobile-area .mobile {
	position: absolute;
	left: 0;
	top: 0;
	width: 24%;
	height: auto;
	z-index: 1
}

.portfolio-header .tb-m-area .mobile-area .mobile img {
	width: 100%;
	height: 100%;
}

.portfolio-header .tb-m-area .mobile-area .mobile-screen {
	position: absolute;
	left: 1%;
	top: 6%;
	width: 19.7%;
	height: auto;
}

.portfolio-header .tb-m-area .mobile-area .mobile-screen img {
	width: 100%;
	height: 100%;
}

.portfolio-header .pc-tb-area {
	position: relative;
	padding-bottom: 80%;
}

.portfolio-header .pc-tb-area .pc {
	position: absolute;
	left: 0;
	top: 0;
	width: 80%;
	height: 79%;
	z-index: 1;
}

.portfolio-header .pc-tb-area .pc img {
	width: 100%;
	height: 100%;
}

.portfolio-header .pc-tb-area .pc-screen {
	position: absolute;
	left: 3%;
	top: 3%;
	width: 426px;
	height: 239px;
}

/*
	position: absolute;
	left: 2%;
	top: 4%;
	width: 75%;
	height: 51.5%;
	padding: 0 7px;
*/

.portfolio-header .pc-tb-area .pc-screen img {
	width: 100%;
	height: 100%;
}

.portfolio-header .pc-tb-area .tablet {
	position: absolute;
	right: 0;
	top: 22%;
	z-index: 2;
	width: 31%;
	height: 57%;
}

.portfolio-header .pc-tb-area .tablet img {
	width: 100%;
	height: 100%;
}

.portfolio-header .pc-tb-area .tablet-screen {
	position: absolute;
	right: 1%;
	top: 27%;
	z-index: 1;
	width: 166px;
	height: 222px;
}

.portfolio-header .pc-tb-area .tablet-screen img {
	width: 100%;
	height: 100%;
}

.portfolio-header .mobile-area {
	position: relative;
}

.portfolio-header .mobile-area .mobile-screen img {
	max-width: 100%;
	height: 100%;
}

.portfolio-header .mobile-area .mobile-screen {
	position: absolute;
	left: 34.8%;
	top: 12.5%;
	width: 176px;
	height: 301px;
}

.portfolio-body .mobile {
	position: relative;
}

.portfolio-body p .tit {
	font-weight: 600;
	font-size: 72px;
	color: rgba(255, 255, 255, 0.1);
	letter-spacing: -2.5px;
}

.portfolio-body .mobile .tit {
	position: absolute;
	left: 61px;
	top: 53px;
}

.portfolio-body .mobile img,
.portfolio-body .pc img {
	width: 100%;
	height: 100%;
}

.portfolio-body .mobile .mobile-img {
	width: 145px;
	height: 253px;
	border-radius: 10px;
	overflow: hidden;
	position: absolute;
	right: 11%;
	top: 81px;
}

.portfolio-body .mobile .mobile-img img {
	max-width: 100%;
	height: auto;
}

.portfolio-body .mobile .mobile-area {
	display: block;
	position: relative;
	min-width: 100%;
	padding-bottom: 100%;
}

.portfolio-body .mobile .mobile-img.mobile2 {
	right: 39%;
	top: 273px;
}

.portfolio-body .mobile .mobile-img.mobile3 {
	top: 391px;
}

.portfolio-body .pc {
	padding-bottom: 100px;
	position: relative;
}

.portfolio-body .pc tit {
	position: absolute;
	left: 50%;
	top: -70px;
	transform: translate(-50%);
	-ms-transform: translate(-50%);
	-webkit-transform: translate(-50%);
}

.portfolio-body .pc .pc-area {
	margin: 5% -367px;
	padding: 20px;
	transform-style: preserve-3d;
	-webkit-transform: perspective(800px) rotateY(-50deg) rotateX(15deg) skewY(-8deg);
	-ms-transform: perspective(800px) rotateY(-50deg) rotateX(15deg) skewY(-8deg);
	-webkit-transform-origin: 600px center;
	-ms-transform-origin: 600px center;
	display: block;
}

.ie9 .portfolio-body .pc .pc-area span:nth-child(3):after {
	display: none;
}

.ie9 .portfolio-body .pc .pc-area {
	margin: 0;
	padding: 0;
	transform-style: inherit;
	-webkit-transform: inherit;
	-webkit-transform-origin: inherit;
	-ms-transform-origin: inherit;
	display: block;
	position: relative;
}

.ie9 .portfolio-body .pc .pc-area span {
	width: calc(25% - 4px);
	float: left;
	margin: 2px;
	border-radius: 3px;
	height: auto;
}

.portfolio-body .pc .pc-area:after {
	display: block;
	content: '';
	clear: both;
}

.portfolio-body .pc .pc-area:before {
	content: '';
	background: url(../images/img-pf-desktop-pc.png) no-repeat center center;
	width: 20%;
	height: 116%;
	position: absolute;
	left: 40%;
	top: 8%;
	z-index: -1;
	background-size: 100% 100%;
}

.portfolio-body .pc .pc-area img {
	width: 19.1%;
	height: 165px;
	float: left;
	margin: 6px;
	border-radius: 3px;
	padding: 2px;
	position: relative;
	transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	max-width: 100%;
}

@media only all and (min-width:768px) {
	.header-hide .header {
		transform: translateY(-60px);
		-ms-transform: translateY(-60px);
		-webkit-transform: translateY(-60px);
	}

	.sub-section .inner {
		position: relative;
		padding-left: 220px;
		max-width: 900px;
	}

	.title-center {
		font-size: 40px;
	}

	.sub-section h2 {
		position: absolute;
		left: 0;
		top: -3px;
		font-size: 30px;
		padding-left: 20px;
	}

	.sub-section .inner,
	.sub-section h2 {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.sub-section h2,
	.sub-section h2 + * {
		margin-top: 0;
	}

	#home-learn .inner {
		padding-left: 30px;
		padding-right: 30px;
	}

	#who-we-are {
		position: relative;
	}

	.company-intro img {
		float: left;
		margin: 6px 40px 10px 0;
	}

	.service {
		padding: 0 5px;
		overflow: hidden;
	}

	.service dl {
		float: left;
		padding: 0 15px;
		width: 25%;
		overflow: hidden;
	}

	.service dt {
		clear: both;
	}

	.service .tag-list {
		margin-top: 1em;
	}

	#map {
		height: 400px;
		float: left;
		width: calc(100% - 420px);
	}

	.location-info {
		width: 420px;
		float: right;
		height: 400px;
		padding-left: 45px;
		overflow: hidden;
	}

	/* 런시퀀스 */
	.learnseq-benefit {
		max-width: 1000px;
		margin: auto;
		text-align: center;
		overflow: hidden;
	}

	.learnseq-benefit .col {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		padding: 0 20px 20px;
		background-color: #f8f2f8;
	}
}

@media only all and (min-width:768px) and (max-width:1200px) {
	.service dl {
		width: 50%;
		margin-bottom: 20px;
	}

	.service dl:nth-child(odd) {
		clear: both;
	}

	.service dl:nth-child(3) {
		float: right;
	}

	.location-info {
		padding-left: 40px;
	}
}

@media only all and (max-width:1200px) {
	.company-intro br {
		display: none;
	}
}

@media only all and (max-width:768px) {
	#learn .inner {
		text-align: center;
		padding: 50px 20px;
	}

	#learn:before {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		content: '';
		background: #000;
		opacity: 0.3;
	}

	#learn .btn-learn {
		font-size: 18px;
		padding: 0 20px;
	}

	.location-info {
		padding-left: 30px;
	}

	.location-address br {
		display: none;
	}

	.partners-list li {
		margin: 0 10px 20px;
	}

	.footer .logo-btm {
		width: 76px;
		overflow: hidden;
	}

	.footer .inner {
		padding-left: 100px;
	}
}

@media only all and (max-width:767px) {
	html {
		font-size: 14px;
	}

	.header .nav-bar {
		padding-left: 10px;
	}

	.header-hide .nav-bar {
		transform: translateY(-60px);
		-ms-transform: translateY(-60px);
		-webkit-transform: translateY(-60px);
	}

	section .inner {
		padding-left: 30px;
		padding-right: 30px;
	}

	.brand .word-seq {
		display: none;
	}

	#home-learnbr {
		display: none;
	}

	#home:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 100vh;
		background-color: #111;
		z-index: 110;
		content: '';
	}

	#btn-allmenu,
	#btn-allmenu-close {
		display: block;
	}

	#gnb {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 16px;
		width: 100%;
		padding: 50px 30px 30px;
		background-color: rgba(0, 0, 0, .8);
		transition-duration: .3s;
		-webkit-transition-duration: .3s;
		z-index: 800;
	}

	#gnb.show {
		display: block;
	}

	#btn-allmenu {
		display: block;
	}

	#gnb ul,
	#btn-allmenu-close {
		transition-duration: .3s;
		-webkit-transition-duration: .3s;
	}

	#gnb a {
		color: #fff;
		padding-top: 0;
		border: 3px solid transparent;
	}

	#gnb a.active {
		color: #f49ac0;
		border-color: #f49ac0;
	}

	#gnb li {
		display: block;
		text-align: center;
		margin: 0 2px;
	}

	.service dl {
		width: 100%;
		margin-bottom: 2em;
	}

	.footer {
		padding: 0 25px;
	}

	.footer .logo-btm {
		display: none;
	}

	.footer .inner {
		padding-left: 110px;
	}

	.footer address {
		position: static;
		padding-right: 0;
	}

	.footer .btn-kakaoplus {
		left: 0;
		top: 30px;
		right: auto;
	}

	.btn-kakaoplus img {
		height: 35px;
	}

	.portfolio-inner {
		background-size: cover;
	}

	.portfolio-header {
		padding: 60px 10.97% 0;
		background-size: cover;
	}

	.portfolio-header .screen-wrap {
		padding-bottom: 95%;
	}

	.portfolio-header .portfolio-title {
		font-size: 27px;
	}

	.portfolio-inner .btn-close-popup {
		background-size: 22px;
	}

	.portfolio-header .screen-inner {
		padding: 0px 13px 0;
	}

	.portfolio-header .screen-wrap .pc-screen {
		left: 0;
		top: 0;
		margin: 0;
		padding-top: 55.95%;
		width: 100%;
		height: auto;
	}

	.portfolio-header .view-btn {
		margin: 0 0 35px 0;
	}

	.portfolio-header .content {
		margin-left: 0;
	}

	.portfolio-header .screen-wrap .pc-screen img {
		position: absolute;
		left: 0;
		top: 0;
		padding: 14px 15px 0;
	}

	.portfolio-header .pc-tb-area .pc-screen {
		width: 75%;
		height: 51.5%;
	}

	.portfolio-header .tb-m-area .tablet-screen {
		width: 44.8%;
		height: 74%;
	}

	.portfolio-header .pc-tb-area .tablet-screen {
		width: 29%;
		height: 48%;
	}

	.portfolio-header .mobile-area .mobile {
		position: relative;
		padding-top: 69%;

	}

	.portfolio-header .mobile-area .mobile img {
		position: absolute;
		left: 50%;
		top: 0;
		margin-left: -17.2%;
		width: 35%;
		height: 100%;
	}

	.portfolio-header .mobile-area .mobile-screen {
		width: 31%;
		height: 77%;
	}

	.portfolio-header .mobile-area .mobile-screen img {
		width: 100%;
		height: 100%;
	}

	.portfolio-body .mobile .tit {
		position: inherit;
		left: 0;
		top: 20px;
	}

	.portfolio-body .mobile .mobile-area {
		margin-top: 20px;
	}

	.portfolio-body .mobile .mobile-img {
		top: 20px;
		width: 20.5%;
		height: 37%;
		max-width: 100%;
	}

	.portfolio-body .mobile .mobile-img.mobile2 {
		top: 28%;
	}

	.portfolio-body .mobile .mobile-img.mobile3 {
		top: 47%;
	}

	.portfolio-header .hash-tag-wrap li {
		padding-right: 5px;
	}

	.portfolio-header .tablet-screen {
		width: 100%;
		height: auto;
	}

	.portfolio-body .pc .pc-area img {
		height: auto;
	}
}

@media only all and (max-width:480px) {

	.portfolio-header .screen-wrap .pc-screen img {
		padding: 8px 8px 0;
	}

	.portfolio-body p .tit {
		letter-spacing: 0;
		font-size: 36px;
	}

	.portfolio-header .screen-inner {
		padding: 0px 7px 0;
	}

	.portfolio-header .view-btn {
		overflow: hidden;
	}

	.portfolio-header .view-btn .btn-android {
		font-size: 14px;
		padding: 10px 4px 11px;

	}

	.portfolio-header .view-btn .btn-ios {
		font-size: 14px;
		padding: 10px 10px 11px;

	}

	.portfolio-header .view-btn a + a {
		margin-left: 5px;
	}

	.portfolio-body .mobile .mobile-img {
		border-radius: 7px;
	}

	.portfolio-body .mobile .mobile-img.mobile3 {
		top: 50%;
	}

	.portfolio-body .pc .pc-area span {
		margin: 5px;
	}
}

@media only all and (max-width:375px) {
	.contact-title {
		font-size: 20px;
	}

	.contact-title span {
		display: none;
	}

	#home .btn-learn {
		padding-left: 68px;
		background-position: 15px center;
	}

	.btn-learn .word {
		display: none;
	}
}

@media only all and (max-width:360px) {
	.header {
		padding-right: 0;
	}

	#gnb {
		font-size: 15px;
	}

	.slogan {
		letter-spacing: -0.02em;
	}
}

@media only all and (max-width:320px) {
	.brand a {
		padding: 0 20px;
	}

	#gnb {
		font-size: 14px;
	}

	.slogan {
		font-size: 17px;
	}
}
