<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>대시보드 | TIMS 택시운행정보관리시스템</title>
<link rel="stylesheet" type="text/css" href="../../../css/jquery-ui.min.css" media="all">
<link rel="stylesheet" type="text/css" href="../../../css/jquery-ui.theme.min.css" media="all">
<link rel="stylesheet" type="text/css" href="../../../css/kendo.common.min.css" media="all">
<link rel="stylesheet" type="text/css" href="../../../css/kendo.default.min.css" media="all">
<link rel="stylesheet" type="text/css" href="../../../css/style.css" media="all">
<script src="../../../js/jquery-1.12.4.min.js" charset="utf-8"></script>
<script src="../../../js/jquery-ui.min.js" charset="utf-8"></script>
<script src="../../../js/kendo.all.min.js" charset="utf-8"></script>
<script src="../../../js/dashboard.js" charset="utf-8"></script>
<script>
$(document).ready(function() {
	createChart();

	$("#daily_grid").kendoGrid({
		height: "calc(100% - 43px)",
		sortable: true,
	});
});
$(window).on('resize', function() {
	createChart();
});

function createChart() {
	$("#character").kendoChart({
		theme: "materialblack",
		title: {
			text: "&nbsp;",
			position: "bottom",
			margin: {
				top: -20,
				bottom: -5
			}
		},
		legend: {
			position: "bottom",
			margin: {
				top: -20
			}
		},
		chartArea: {
			background: ""
		},
		seriesDefaults: {
			type: "radarArea"
		},
		series: [{
			name: "전체 평균",
			data: [7, 3, 3, 8, 9],
			color: "#486db1"
		},{
			name: "대전광역시",
			data: [9, 7, 7, 6, 7],
			color: "#f58220"
		}],
		categoryAxis: {
			categories: [
				"수입금", "운행속도", "영업대기시간", "영업거리", "영업횟수"
			],
			majorGridLines: {
				visible: true
			}
		},
		valueAxis: {
			labels: {
				format: "{0}",
				visible: false
			},
			line: {
				visible: false
			}
		}
	});

	$("#income").kendoChart({
		theme: "materialblack",
		title: {
			position: "bottom",
			text: "&nbsp;",
			padding : {
				bottom: -30
			}
		},
		legend: {
			position: "bottom",
			visible: false
		},
		chartArea: {
			background: ""
		},
		seriesDefaults: {
			type: "column"
		},
		series: [{
			name: "만원",
			data: [1280, 1240, 1100, 1050, 1000, 900, 890, 800, 790, 750, 720],
			color: "#b1e66c",
			overlay: {
				gradient: "none"
			}
		}],
		valueAxis: {
			labels: {
				format: "{0}"
			},
			line: {
				visible: true
			}
		},
		categoryAxis: {
			categories: ["0~10", "11~20", "21~30", "31~40", "41~50", "51~60", "61~70", "71~80", "81~90", "91~100", "101~"],
			majorGridLines: {
				visible: false
			},
		},
		tooltip: {
			visible: true,
			format: "{0}만원"
		}
	});
	
	$("#current").kendoChart({
		theme: "materialblack",
		title: {
			text: "&nbsp;",
			position: "bottom",
			padding : {
				bottom: -30
			}
		},
		legend: {
			visible: false
		},
		chartArea: {
			background: ""
		},
		seriesDefaults: {
			type: "column",
			labels: {
				visible: true,
			}
		},
		series: [{
			name: "대",
			data: [3650, 3400, 2850],
			color: "#8d4de8",
			overlay: {
				gradient: "none"
			}
		}],
		valueAxis: {
			max: 4500,
			line: {
				visible: false
			},
			minorGridLines: {
				visible: false
			},
			labels: {
				rotation: "auto"
			},
			visible: false
		},
		categoryAxis: {
			categories: ["총면허대수", "청약대수", "실시간운행대수"],
			majorGridLines: {
				visible: false
			}
		},
		tooltip: {
			visible: true,
			template: "#= value # #= series.name #"
		}
	});

	$("#driving").kendoChart({
		theme: "materialblack",
		title: {
			text: ""
		},
		legend: {
			position: "top",
			align: "end"
		},
		chartArea: {
			background: ""
		},
		seriesDefaults: {
			type: "line",
		},
		series: [{
			type: "column",
			name: "가동률",
			data: [20, 10, 50, 60, 78, 67.96, 68.93, 75, 74, 78, 20, 10, 50, 60, 78, 67.96, 68.93, 75, 74, 78, 67.96, 68.93, 75, 74, 78],
			color: "#30c098"
		},{
			name: "수입금",
			data: [15.7, 16.7, 50, 23.5, 26.6, 15.7, 16.7, 50, 23.5, 26.6, 15.7, 16.7, 50, 23.5, 26.6, 15.7, 16.7, 50, 23.5, 26.6, 15.7, 16.7, 50, 23.5, 26.6],
			color: "#2090ff"
		},{
			name: "요일평균",
			data: [67.96, 68.93, 75, 74, 78, 67.96, 68.93, 75, 74, 78, 67.96, 68.93, 75, 74, 78, 67.96, 68.93, 75, 74, 78, 67.96, 68.93, 75, 74, 78],
			color: "#b1e66c"
		}],
		valueAxis: {
			labels: {
				format: "{0}만원"
			}
		},
		categoryAxis: {
			categories: [00, 01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
			majorGridLines: {
				visible: false
			}
		}
	});
		
}
</script>
</head>
<body class="dashboard">
<div id="dashboard">
	<header id="header">
		<h1 id="logo"><a href="#"><img src="../../../images/logo_dashboard_black.png" alt="TIMS 택시운행정보관리시스템"></a></h1>
		<p class="loc_info">
			<span class="date">[대전광역시] 2016년 12월 15일 수요일</span>
			<span class="time">(오전) 07시 52분</span>
			<span class="weather">(맑음, 17℃)</span>
			<span class="type">일별</span>
		</p>
		<a href="#window_setting" class="btn_setting k-win-open">대시보드 설정</a>

		<div id="window_setting">
			<form action="#">
			<div class="tb_setting">
				<table>
				<colgroup>
					<col style="width:190px">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<th>조회기간 설정</th>
						<td>
							<span class="btnset_setting">
								<input type="radio" name="lb_period" id="lb_period1"><label for="lb_period1">시간대별</label>
								<input type="radio" name="lb_period" id="lb_period2" checked><label for="lb_period2">일별</label>
								<input type="radio" name="lb_period" id="lb_period3"><label for="lb_period3">요일별</label>
								<input type="radio" name="lb_period" id="lb_period4"><label for="lb_period4">월별</label>
							</span>
							<p class="desc"><span class="k-icon k-i-info"></span> 일별 선택 기준은 조회(금일)일부터 7일 이전까지의 정보를 제공합니다.</p>
						</td>
					</tr>
					<tr>
						<th>대시보드 타입 선택</th>
						<td>
							<ul class="dashboard_type">
								<li>
									<input type="radio" name="lb_dashType" id="lb_dashType1" class="k-radio" checked>
									<label class="k-radio-label" for="lb_dashType1">영업현황타입 (6개 차트)</label>
									<div class="layout type1">
										<div class="wide">시계열1</div>
										<div>1</div><div>2</div>
										<div class="wide">시계열2</div>
										<div>3</div><div>4</div>
									</div>
								</li>	
								<li>
									<input type="radio" name="lb_dashType" id="lb_dashType2" class="k-radio">
									<label class="k-radio-label" for="lb_dashType2">시계열타입(6개 차트)</label>
									<div class="layout type2">
										<div>1</div>
										<div class="wide">시계열1</div>
										<div class="fixed fr long">고정</div>
										<div>2</div>
										<div class="wide">시계열2</div>
									</div>
								</li>	
								<li>	
									<input type="radio" name="lb_dashType" id="lb_dashType3" class="k-radio">
									<label class="k-radio-label" for="lb_dashType3">GIS타입(5개차트)</label>
									<div class="layout type2">
										<div class="fixed wide long">고정</div>
										<div>1</div><div>2</div>
										<div class="wide">시계열1</div>
									</div>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>정보제공 항목 선택</th>
						<td>
							<div class="info_item">
								<ul>
									<li>
										<label>기본차트1</label>
										<select>
											<option>차트제목1</option>
										</select>
									</li>
									<li>
										<label>기본차트2</label>
										<select>
											<option>차트제목2</option>
										</select>
									</li>
									<li>
										<label>기본차트3</label>
										<select>
											<option>차트제목3</option>
										</select>
									</li>
									<li>
										<label>기본차트4</label>
										<select>
											<option>차트제목4</option>
										</select>
									</li>
									<li>
										<label>기본차트5</label>
										<select>
											<option>차트제목5</option>
										</select>
									</li>
									<li>
										<label>기본차트6</label>
										<select>
											<option>차트제목6</option>
										</select>
									</li>
								</ul>
	
								<ul>
									<li>
										<label>시계열차트1</label>
										<select>
											<option>차트제목1</option>
										</select>
									</li>
									<li>
										<label>시계열차트2</label>
										<input type="text" placeholder="선택사항 없음" class="k-textbox" disabled>
									</li>
									<li>
										<label>GIS</label>
										<input type="text" placeholder="선택사항 없음" class="k-textbox" disabled>
									</li>
								</ul>
								
								<p class="desc"><span class="k-icon k-i-info"></span> 시계열 차트는 시간대, 일별, 월별 등 시간적 변화를 비교할 수 있는 그래프를 기준으로 제공하며, 기본차트는 원형, 방사형 등의 단일 그래프를 기준으로 구성할 수 있습니다.</p>
							</div>
						</td>
					</tr>
					<tr>
						<th>추가 조회기준 설정</th>
						<td>
							<ul class="add_setting">
								<li>
									<span class="tit">* 직장안정지수(선택시)</span>
									<span class="btnset_setting">
										<input type="radio" name="lb_standard" id="lb_standard1" checked><label for="lb_standard1">월별</label>
										<input type="radio" name="lb_standard" id="lb_standard2"><label for="lb_standard2">년별</label>
									</span>
								</li>
								<li>
									<span class="tit">* 수입금액대별(선택시)</span>
									<span class="btnset_setting">
										<input type="radio" name="lb_standard2" id="lb_standard1-1" checked><label for="lb_standard1-1">지역평균</label>
										<input type="radio" name="lb_standard2" id="lb_standard1-2"><label for="lb_standard1-2">회사별</label>
									</span>
								</li>
								<li>
									<span class="tit">* 조회범위</span>
									<span class="btnset_setting">
										<input type="radio" name="lb_standard3" id="lb_standard2-1" checked><label for="lb_standard2-1">지역평균</label>
										<input type="radio" name="lb_standard3" id="lb_standard2-2"><label for="lb_standard2-2">회사별</label>
									</span>
									택시운수회사 선택 권한 제외
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
				</table>
				<div class="window_btnset">
					<button type="button" class="k-button k-button-icontext k-button-cancel"><span class="k-icon k-i-cancel"></span>취소</button>
					<button type="reset" class="k-button k-button-icontext"><span class="k-icon k-i-refresh"></span>설정초기화</button>
					<button type="submit" class="k-button k-button-icontext k-primary"><span class="k-icon k-i-check"></span>저장</button>
				</div>
			</div>
			</form>
		</div>
		
		<div class="line"></div>
	</header>
	<article id="container">
		<h2 class="tit_dashboard">대시보드</h2>
		<div class="box_chart c1_1">
			<h3 class="tit">운수종사자별 영업 특성</h3>
			<div class="chart">
				<div id="character"></div>
			</div>
		</div>
		<div class="box_chart c1_2">
			<h3 class="tit">(실시간) 차량보유대수별 운수회사 평균수입금 분포 현황</h3>
			<div class="chart">
				<div id="income"></div>
			</div>
		</div>
		<div class="box_chart c1_3">
			<h3 class="tit">일별 검사대상차량 알림</h3>
			<div class="tb_black">
				<p class="total_grid">총 청약대수 : 3,235개 | 미수집대수 :567대</p>
				<table id="daily_grid">
				<colgroup>
					<col>
					<col style="width:17.5%">
					<col style="width:17.5%">
					<col style="width:21%">
					<col style="width:23%">
				</colgroup>
				<thead>
					<tr>
						<th data-field="item1">운수회사</th>
						<th data-field="item2">면허대수</th>
						<th data-field="item3">청약대수</th>
						<th data-field="item4">미수집대수</th>
						<th data-field="item5">미수집율(%)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>가택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>나택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>다택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>라택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>택시운수</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
		<div class="box_chart c1_4">
			<h3 class="tit">현재 차량운행현황</h3>
			<div class="chart">
				<div id="current"></div>
			</div>
		</div>
		<div class="box_chart c1_5">
			<h3 class="tit">(실시간) 차량운행현황</h3>
			<div class="chart">
				<div id="driving"></div>
			</div>
		</div>
	</article>
</div>
</body>
</html>