<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>대시보드 | TIMS 택시운행정보관리시스템</title>
<link rel="stylesheet" type="text/css" href="../../../css/jquery-ui.min.css" media="all">
<link rel="stylesheet" type="text/css" href="../../../css/jquery-ui.theme.min.css" media="all">
<link rel="stylesheet" type="text/css" href="../../../css/kendo.common.min.css" media="all">
<link rel="stylesheet" type="text/css" href="../../../css/kendo.default.min.css" media="all">
<link rel="stylesheet" type="text/css" href="../../../css/style.css" media="all">
<script src="../../../js/jquery-1.12.4.min.js" charset="utf-8"></script>
<script src="../../../js/jquery-ui.min.js" charset="utf-8"></script>
<script src="../../../js/kendo.all.min.js" charset="utf-8"></script>
<script src="../../../js/dashboard.js" charset="utf-8"></script>
<script>
$(document).ready(function() {
	createChart();

	$("#daily_grid").kendoGrid({
		height: "calc(100% - 43px)",
		sortable: true,
	});
});
$(window).on('resize', function() {
	createChart();
});

function createChart() {
	$("#qna").kendoChart({
		theme: "materialblack",
		title: {
			text: "&nbsp;",
			position: "bottom",
			padding : {
				bottom: -30
			}
		},
		legend: {
			visible: false
		},
		chartArea: {
			background: ""
		},
		seriesDefaults: {
			type: "column",
			labels: {
				visible: true,
			}
		},
		series: [{
			name: "건",
			data: [15, 10],
			color: "#2090ff",
			overlay: {
				gradient: "none"
			}
		}],
		valueAxis: {
			max: 20,
			line: {
				visible: false
			},
			minorGridLines: {
				visible: false
			},
			labels: {
				rotation: "auto"
			},
			visible: false
		},
		categoryAxis: {
			categories: ["질문", "답변"],
			majorGridLines: {
				visible: false
			}
		},
		tooltip: {
			visible: true,
			template: "#= value # #= series.name #"
		}
	});		

	$("#request").kendoChart({
		theme: "materialblack",
		title: {
			text: "&nbsp;",
			position: "bottom",
			padding : {
				bottom: -30
			}
		},
		legend: {
			visible: false
		},
		chartArea: {
			background: ""
		},
		seriesDefaults: {
			type: "column",
			labels: {
				visible: true,
			}
		},
		series: [{
			name: "건",
			data: [35, 25],
			color: "#b1e66c",
			overlay: {
				gradient: "none"
			}
		}],
		valueAxis: {
			max: 40,
			line: {
				visible: false
			},
			minorGridLines: {
				visible: false
			},
			labels: {
				rotation: "auto"
			},
			visible: false
		},
		categoryAxis: {
			categories: ["질문", "답변"],
			majorGridLines: {
				visible: false
			}
		},
		tooltip: {
			visible: true,
			template: "#= value # #= series.name #"
		}
	});		
}
</script>
</head>
<body class="dashboard">
<div id="dashboard">
	<header id="header">
		<h1 id="logo"><a href="#"><img src="../../../images/logo_dashboard_black.png" alt="TIMS 택시운행정보관리시스템"></a></h1>
		<p class="loc_info">
			<span class="date">[대전광역시] 2016년 12월 15일 수요일</span>
			<span class="time">(오전) 07시 52분</span>
			<span class="weather">(맑음, 17℃)</span>
			<span class="type">일별</span>
		</p>
		<a href="#window_setting" class="btn_setting k-win-open">대시보드 설정</a>

		<div id="window_setting">
			<form action="#">
			<div class="tb_setting">
				<table>
				<colgroup>
					<col style="width:190px">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<th>조회기간 설정</th>
						<td>
							<span class="btnset_setting">
								<input type="radio" name="lb_period" id="lb_period1"><label for="lb_period1">시간대별</label>
								<input type="radio" name="lb_period" id="lb_period2" checked><label for="lb_period2">일별</label>
								<input type="radio" name="lb_period" id="lb_period3"><label for="lb_period3">요일별</label>
								<input type="radio" name="lb_period" id="lb_period4"><label for="lb_period4">월별</label>
							</span>
							<p class="desc"><span class="k-icon k-i-info"></span> 일별 선택 기준은 조회(금일)일부터 7일 이전까지의 정보를 제공합니다.</p>
						</td>
					</tr>
					<tr>
						<th>대시보드 타입 선택</th>
						<td>
							<ul class="dashboard_type">
								<li>
									<input type="radio" name="lb_dashType" id="lb_dashType1" class="k-radio" checked>
									<label class="k-radio-label" for="lb_dashType1">영업현황타입 (6개 차트)</label>
									<div class="layout type1">
										<div class="wide">시계열1</div>
										<div>1</div><div>2</div>
										<div class="wide">시계열2</div>
										<div>3</div><div>4</div>
									</div>
								</li>	
								<li>
									<input type="radio" name="lb_dashType" id="lb_dashType2" class="k-radio">
									<label class="k-radio-label" for="lb_dashType2">시계열타입(6개 차트)</label>
									<div class="layout type2">
										<div>1</div>
										<div class="wide">시계열1</div>
										<div class="fixed fr long">고정</div>
										<div>2</div>
										<div class="wide">시계열2</div>
									</div>
								</li>	
								<li>	
									<input type="radio" name="lb_dashType" id="lb_dashType3" class="k-radio">
									<label class="k-radio-label" for="lb_dashType3">GIS타입(5개차트)</label>
									<div class="layout type2">
										<div class="fixed wide long">고정</div>
										<div>1</div><div>2</div>
										<div class="wide">시계열1</div>
									</div>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>정보제공 항목 선택</th>
						<td>
							<div class="info_item">
								<ul>
									<li>
										<label>기본차트1</label>
										<select>
											<option>차트제목1</option>
										</select>
									</li>
									<li>
										<label>기본차트2</label>
										<select>
											<option>차트제목2</option>
										</select>
									</li>
									<li>
										<label>기본차트3</label>
										<select>
											<option>차트제목3</option>
										</select>
									</li>
									<li>
										<label>기본차트4</label>
										<select>
											<option>차트제목4</option>
										</select>
									</li>
									<li>
										<label>기본차트5</label>
										<select>
											<option>차트제목5</option>
										</select>
									</li>
									<li>
										<label>기본차트6</label>
										<select>
											<option>차트제목6</option>
										</select>
									</li>
								</ul>
	
								<ul>
									<li>
										<label>시계열차트1</label>
										<select>
											<option>차트제목1</option>
										</select>
									</li>
									<li>
										<label>시계열차트2</label>
										<input type="text" placeholder="선택사항 없음" class="k-textbox" disabled>
									</li>
									<li>
										<label>GIS</label>
										<input type="text" placeholder="선택사항 없음" class="k-textbox" disabled>
									</li>
								</ul>
								
								<p class="desc"><span class="k-icon k-i-info"></span> 시계열 차트는 시간대, 일별, 월별 등 시간적 변화를 비교할 수 있는 그래프를 기준으로 제공하며, 기본차트는 원형, 방사형 등의 단일 그래프를 기준으로 구성할 수 있습니다.</p>
							</div>
						</td>
					</tr>
					<tr>
						<th>추가 조회기준 설정</th>
						<td>
							<ul class="add_setting">
								<li>
									<span class="tit">* 직장안정지수(선택시)</span>
									<span class="btnset_setting">
										<input type="radio" name="lb_standard" id="lb_standard1" checked><label for="lb_standard1">월별</label>
										<input type="radio" name="lb_standard" id="lb_standard2"><label for="lb_standard2">년별</label>
									</span>
								</li>
								<li>
									<span class="tit">* 수입금액대별(선택시)</span>
									<span class="btnset_setting">
										<input type="radio" name="lb_standard2" id="lb_standard1-1" checked><label for="lb_standard1-1">지역평균</label>
										<input type="radio" name="lb_standard2" id="lb_standard1-2"><label for="lb_standard1-2">회사별</label>
									</span>
								</li>
								<li>
									<span class="tit">* 조회범위</span>
									<span class="btnset_setting">
										<input type="radio" name="lb_standard3" id="lb_standard2-1" checked><label for="lb_standard2-1">지역평균</label>
										<input type="radio" name="lb_standard3" id="lb_standard2-2"><label for="lb_standard2-2">회사별</label>
									</span>
									택시운수회사 선택 권한 제외
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
				</table>
				<div class="window_btnset">
					<button type="button" class="k-button k-button-icontext k-button-cancel"><span class="k-icon k-i-cancel"></span>취소</button>
					<button type="reset" class="k-button k-button-icontext"><span class="k-icon k-i-refresh"></span>설정초기화</button>
					<button type="submit" class="k-button k-button-icontext k-primary"><span class="k-icon k-i-check"></span>저장</button>
				</div>
			</div>
			</form>
		</div>
		
		<div class="line"></div>
	</header>
	<article id="container">
		<h2 class="tit_dashboard">대시보드</h2>
		<div class="box_chart c3_1">
			<h3 class="tit">대전광역시 데이터 수집 현황</h3>
			<div class="chart">
				<div class="map_korea">
					<img src="../../../images/map_korea.png" class="map" alt="">
					
					<dl class="loc_info large" style="top:5%; left:37%;"><!-- 위치지정은 %로 (반응형) -->
						<dt>ㅇㅇ광역시</dt>
						<dd style="border-color:#009fdb;">73</dd><!-- // border-color를 범례 background-color 컬러와 매칭 -->
					</dl>

					<dl class="loc_info" style="top:20%; left:50%;">
						<dt>ㅇㅇ시</dt>
						<dd style="border-color:#ffc107;">58</dd>
					</dl>

					<dl class="loc_info small" style="top:50%; left:70%;">
						<dt>ㅇㅇ군</dt>
						<dd style="border-color:#ff6937;">25</dd>
					</dl>

				</div>
			</div>
			<div class="ctrl_zoom">
				<span>시도</span>
				<button type="button" class="btn_zoomin">확대</button>
				<button type="button" class="btn_zoomout">축소</button>
			</div>
			<dl class="legend_list">
				<dt>범례</dt>
				<dd>
					<ul>
						<li><span class="bul" style="background-color:#ff6937;"></span> 30% 이하</li>
						<li><span class="bul" style="background-color:#ffc107;"></span> 31% ~ 70% </li>
						<li><span class="bul" style="background-color:#009fdb;"></span> 71% 이상</li>
					</ul>
				</dd>
			</dl>
		</div>
		<div class="box_chart c3_2">
			<h3 class="tit">(일별) 차량 운행정보 수집율</h3>
			<div class="tb_black">
				<p class="total_grid">총 청약대수 : 3,235개 | 미수집대수 :567대</p>
				<table id="daily_grid">
				<colgroup>
					<col>
					<col style="width:21%">
					<col style="width:15%">
					<col style="width:15%">
					<col style="width:23%">
				</colgroup>
				<thead>
					<tr>
						<th data-field="item1">지자체</th>
						<th data-field="item2">면허대수</th>
						<th data-field="item3">청약</th>
						<th data-field="item4">수집</th>
						<th data-field="item5">수집율(%)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
					<tr>
						<td>부산광역시</td>
						<td>100</td>
						<td>100</td>
						<td>50</td>
						<td>50%</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
		<div class="box_chart c3_3">
			<h3 class="tit">Q&amp;A  등록현황(일별)</h3>
			<div class="chart">
				<div id="qna"></div>
			</div>
		</div>
		<div class="box_chart c3_4">
			<h3 class="tit">승인요청 현황(일별)</h3>
			<div class="chart">
				<div id="request"></div>
			</div>
		</div>
	</article>
</div>
</body>
</html>