<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>영업현황 &lt; 운수회사경영현황 | TIMS 택시운행정보관리시스템</title>
<link rel="stylesheet" type="text/css" href="../../../css/jquery-ui.min.css" media="all">
<link rel="stylesheet" type="text/css" href="../../../css/jquery-ui.theme.min.css" media="all">
<link rel="stylesheet" type="text/css" href="../../../css/kendo.common.min.css" media="all">
<link rel="stylesheet" type="text/css" href="../../../css/kendo.default.min.css" media="all">
<link rel="stylesheet" type="text/css" href="../../../css/kendo.default.mobile.min.css" media="all">
<link rel="stylesheet" type="text/css" href="../../../css/style.css" media="all">
<script src="../../../js/jquery-1.12.4.min.js" charset="utf-8"></script>
<script src="../../../js/jquery-ui.min.js" charset="utf-8"></script>
<script src="../../../js/kendo.all.min.js" charset="utf-8"></script>
<script src="../../../js/ui.js" charset="utf-8"></script>
<script src="../../../js/products.js"></script><!-- // 그리드 데이터샘플 (개발후 삭제) -->
<script>
$(document).ready(function() {
	createChart();

	$(".table_view").kendoGrid({
		dataSource: {
			data: products,
			schema: {
				model: {
					fields: {
						ProductName: { type: "string" },
						UnitPrice: { type: "number" },
						UnitsInStock: { type: "number" },
						Discontinued: { type: "boolean" }
					}
				}
			},
			pageSize: 20
		},
		height: "100%",
		scrollable: true,
		sortable: true,
		pageable: {
			refresh: true,
			pageSizes: true,
			buttonCount: 5
		},
		columns: [
			{ field: "ProductName", title: "항목1", width: "40%" },
			{ field: "UnitPrice", title: "항목2" },
			{ field: "UnitsInStock", title: "항목3" },
			{ field: "Discontinued", title: "항목4", width: "15%" }
		]
	});
	
});

function createChart() {
	$("#average").kendoChart({
		title: {
			text: "동시간대\n 요일 평균 수입금 (만원)",
			position: "top",
			color: "#000",
			font: "400 20px/24px Arial, 'Noto Sans KR'"
		},
		legend: {
			position: "bottom",
			offsetY: -5
		},
		series: [{
			type: "donut",
			size: 25,
			padding: -50,
			overlay: {
				gradient: "none"
			},
			data: [{
				category: "카드",
				value: 60,
				color: "#f0865f"
			}, {
				category: "현금",
				value: 40,
				color: "#bfbfbf"
			}]
		}],
		tooltip: {
			visible: true,
			template: "#= category # - #= kendo.format('{0:P}', percentage) #"
		},
	});

	$("#today").kendoChart({
		title: {
			text: "동시간대\n 금일 수입금(만원)",
			position: "top",
			color: "#000",
			font: "400 20px/24px Arial, 'Noto Sans KR'"
		},
		legend: {
			position: "bottom",
			offsetY: -5
		},
		series: [{
			type: "donut",
			size: 25,
			padding: -50,
			overlay: {
				gradient: "none"
			},
			data: [{
				category: "카드",
				value: 60,
				color: "#486db1"
			}, {
				category: "현금",
				value: 40,
				color: "#bfbfbf"
			}]
		}],
		tooltip: {
			visible: true,
			template: "#= category # - #= kendo.format('{0:P}', percentage) #"
		},
	});

	$("#fluctuate1").kendoChart({
		title: {
			text: "&nbsp;",
			position: "bottom",
			padding : {
				bottom: -30
			}
		},
		legend: {
			visible: false
		},
		seriesDefaults: {
			type: "bar",
			labels: {
				visible: true,
				background: "transparent"
			}
		},
		series: [{
			name: "요일평균",
			data: [875],
			color: "#e6736c",
			overlay: {
				gradient: "none"
			}
		}, {
			name: "금일",
			data: [896],
			color: "#486db1",
			overlay: {
				gradient: "none"
			}
		}],
		valueAxis: {
			max: 900,
			line: {
				visible: false
			},
			minorGridLines: {
				visible: true
			},
			labels: {
				rotation: "auto"
			},
			visible: false
		},
		categoryAxis: {
			categories: ["영업횟수(회)"],
			majorGridLines: {
				visible: false
			}
		},
		tooltip: {
			visible: true,
			template: "#= series.name #: #= value #"
		}
	});

	$("#fluctuate2").kendoChart({
		title: {
			text: "&nbsp;",
			position: "bottom",
			padding : {
				bottom: -30
			}
		},
		legend: {
			visible: false
		},
		seriesDefaults: {
			type: "bar",
			labels: {
				visible: true,
				background: "transparent"
			}
		},
		series: [{
			name: "요일평균",
			data: [875],
			color: "#e6736c",
			overlay: {
				gradient: "none"
			}
		}, {
			name: "금일",
			data: [896],
			color: "#486db1",
			overlay: {
				gradient: "none"
			}
		}],
		valueAxis: {
			max: 900,
			line: {
				visible: false
			},
			minorGridLines: {
				visible: true
			},
			labels: {
				rotation: "auto"
			},
			visible: false
		},
		categoryAxis: {
			categories: ["영업1회당\n 평균수입금(천원)"],
			majorGridLines: {
				visible: false
			}
		},
		tooltip: {
			visible: true,
			template: "#= series.name #: #= value #"
		}
	});

	$("#fluctuate3").kendoChart({
		title: {
			text: "&nbsp;",
			position: "bottom",
			padding : {
				bottom: -30
			}
		},
		legend: {
			visible: false
		},
		seriesDefaults: {
			type: "bar",
			labels: {
				visible: true,
				background: "transparent"
			}
		},
		series: [{
			name: "요일평균",
			data: [875],
			color: "#e6736c",
			overlay: {
				gradient: "none"
			}
		}, {
			name: "금일",
			data: [896],
			color: "#486db1",
			overlay: {
				gradient: "none"
			}
		}],
		valueAxis: {
			max: 900,
			line: {
				visible: false
			},
			minorGridLines: {
				visible: true
			},
			labels: {
				rotation: "auto"
			},
			visible: false
		},
		categoryAxis: {
			categories: ["가동률(%)"],
			majorGridLines: {
				visible: false
			}
		},
		tooltip: {
			visible: true,
			template: "#= series.name #: #= value #"
		}
	});

	$("#fluctuate4").kendoChart({
		title: {
			text: "&nbsp;",
			position: "bottom",
			padding : {
				bottom: -30
			}
		},
		legend: {
			visible: false
		},
		seriesDefaults: {
			type: "bar",
			labels: {
				visible: true,
				background: "transparent"
			}
		},
		series: [{
			name: "요일평균",
			data: [875],
			color: "#e6736c",
			overlay: {
				gradient: "none"
			}
		}, {
			name: "금일",
			data: [896],
			color: "#486db1",
			overlay: {
				gradient: "none"
			}
		}],
		valueAxis: {
			max: 900,
			line: {
				visible: false
			},
			minorGridLines: {
				visible: true
			},
			labels: {
				rotation: "auto"
			},
			visible: false
		},
		categoryAxis: {
			categories: ["거리실차율(%)"],
			majorGridLines: {
				visible: false
			}
		},
		tooltip: {
			visible: true,
			template: "#= series.name #: #= value #"
		}
	});

	$("#fluctuate5").kendoChart({
		title: {
			text: "&nbsp;",
			position: "bottom",
			padding : {
				bottom: -30
			}
		},
		legend: {
			visible: false
		},
		seriesDefaults: {
			type: "bar",
			labels: {
				visible: true,
				background: "transparent"
			}
		},
		series: [{
			name: "요일평균",
			data: [875],
			color: "#e6736c",
			overlay: {
				gradient: "none"
			}
		}, {
			name: "금일",
			data: [896],
			color: "#486db1",
			overlay: {
				gradient: "none"
			}
		}],
		valueAxis: {
			max: 900,
			line: {
				visible: false
			},
			minorGridLines: {
				visible: true
			},
			labels: {
				rotation: "auto"
			},
			visible: false
		},
		categoryAxis: {
			categories: ["시간실차율(회)"],
			majorGridLines: {
				visible: false
			}
		},
		tooltip: {
			visible: true,
			template: "#= series.name #: #= value #"
		}
	});

	$("#chart1-1").kendoChart({
		title: {
			text: ""
		},
		legend: {
			position: "top",
			align: "end"
		},
		seriesDefaults: {
			type: "column"
		},
		series: [{
			name: "항목1",
			data: [1.3, 1, 4, 9, 23, 29],
			color: "#bfbfbf",
			overlay: {
				gradient: "none"
			}
		},{
			name: "항목2",
			data: [1.3, 1, 4, 9, 23, 29],
			color: "#486db1",
			overlay: {
				gradient: "none"
			}
		}],
		valueAxis: {
			labels: {
				format: "{0}%"
			},
			line: {
				visible: true
			}
		},
		categoryAxis: {
			categories: ["12.5-13", "13-13.5", "13.5-14", "14-14.5", "154.5-15", "15-15.5"],
			majorGridLines: {
				visible: false
			},
		},
		tooltip: {
			visible: true,
			format: "{0}"
		}
	});

	$("#chart1-2").kendoChart({
		title: {
			text: ""
		},
		legend: {
			position: "top",
			align: "end"
		},
		seriesDefaults: {
			type: "column"
		},
		series: [{
			name: "항목1",
			data: [1.3, 1, 4, 9, 23, 29],
			color: "#bfbfbf",
			overlay: {
				gradient: "none"
			}
		},{
			name: "항목2",
			data: [1.3, 1, 4, 9, 23, 29],
			color: "#486db1",
			overlay: {
				gradient: "none"
			}
		}],
		valueAxis: {
			labels: {
				format: "{0}%"
			},
			line: {
				visible: true
			}
		},
		categoryAxis: {
			categories: ["12.5-13", "13-13.5", "13.5-14", "14-14.5", "154.5-15", "15-15.5"],
			majorGridLines: {
				visible: false
			},
		},
		tooltip: {
			visible: true,
			format: "{0}"
		}
	});


	$("#chart2-1").kendoChart({
		title: {
			text: ""
		},
		legend: {
			position: "top",
			align: "end"
		},
		seriesDefaults: {
			type: "column"
		},
		series: [{
			type: "line",
			name: "항목1",
			data: [1, 1.3, 2, 12, 23, 29],
			color: "#bfbfbf",
			overlay: {
				gradient: "none"
			}
		},{
			name: "항목2",
			data: [1.3, 1, 4, 9, 23, 29],
			color: "#486db1",
			overlay: {
				gradient: "none"
			}
		}],
		valueAxis: {
			labels: {
				format: "{0}%"
			},
			line: {
				visible: true
			}
		},
		categoryAxis: {
			categories: ["12.5-13", "13-13.5", "13.5-14", "14-14.5", "154.5-15", "15-15.5"],
			majorGridLines: {
				visible: false
			},
		},
		tooltip: {
			visible: true,
			format: "{0}"
		}
	});

	$("#change").kendoChart({
		title: {
			text: ""
		},
		legend: {
			position: "top",
			align: "end"
		},
		seriesDefaults: {
			type: "line",
		},
		series: [{
			name: "항목1",
			data: [67.96, 68.93, 75, 74, 78],
			color: "#486db1"
		}, {
			name: "항목2",
			data: [15.7, 16.7, 50, 23.5, 26.6],
			color: "#bfbfbf"
		}],
		valueAxis: {
			labels: {
				format: "{0}%"
			}
		},
		categoryAxis: {
			categories: ["00시~01시", "01시~02시", "02시~03시", "03시~04시", "04시~05시"]
		},
		tooltip: {
			visible: true,
			format: "{0}"
		}
	});

	var slider = $("#slider").kendoSlider({
		increaseButtonTitle: "Right",
		decreaseButtonTitle: "Left",
		min: 0,
		max: 20,
		smallStep: 2,
		largeStep: 1
	}).data("kendoSlider");
}
</script>
</head>
<body>
<div id="wrap">
	<header id="header">
		<div class="inner">
			<h1 id="logo"><a href="#"><img src="../../../images/logo.png" alt="TIMS 택시운행정보관리시스템"></a></h1>
			<div id="util">
				<a href="#" class="k-button">로그아웃</a>
				<a href="#" class="k-button">대시보드</a>
				<a href="#" class="k-button k-primary">원격지원</a>
				<p class="today_info">2017.12.07 수요일 / 오전 07시 52분 (맑음 17℃)</p>
			</div>
		</div>
		<nav id="gnb">
			<div class="inner">
				<ul>
					<li><a href="#">기본정보조회</a>
						<ul>
							<li><a href="#">정보변경 신청 현황</a></li>
							<li><a href="#">택시회사정보조회</a></li>
							<li><a href="#">자동차정보조회</a></li>
							<li><a href="#">운전자정보조회</a></li>
							<li><a href="#">운전자검증현황조회</a></li>
							<li><a href="#">행정처분조회</a></li>
						</ul>
					</li>
					<li class="on"><a href="#">운수회사경영현황</a>
						<ul>
							<li><a href="#">영엽현황</a></li>
							<li><a href="#">차량운영현황</a></li>
							<li><a href="#">운전자근로현황</a></li>
							<li><a href="#">운전자영업특성</a></li>
							<li><a href="#">종합통계</a></li>
							<li><a href="#">배차일보조회</a></li>
						</ul>
					</li>
					<li><a href="#">택시운행위치정보</a>
						<ul>
							<li><a href="#">실시간택시관제</a></li>
							<li><a href="#">택시운행경로</a></li>
							<li><a href="#">통행분포특성</a></li>
							<li><a href="#">승하차 통계</a></li>
						</ul>
					</li>
					<li><a href="#">커뮤니티</a>
						<ul>
							<li><a href="#">TIMS 시스템 소개</a></li>
							<li><a href="#">공지사항</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Q&amp;A</a></li>
							<li><a href="#">Agent 설치</a></li>
						</ul>
					</li>
					<li><a href="#">데이터수집관리</a>
						<ul>
							<li><a href="#">원시데이터 관리</a></li>
							<li><a href="#">실시간데이터 관리</a></li>
							<li><a href="#">카드수입금등록</a></li>
						</ul>
					</li>
					<li><a href="#">포털서비스 관리</a>
						<ul>
							<li><a href="#">시스템 사용이력 조회</a></li>
							<li><a href="#">권한그룹관리</a></li>
							<li><a href="#">메뉴관리</a></li>
							<li><a href="#">공통코드관리</a></li>
							<li><a href="#">팝업관리</a></li>
							<li><a href="#">약관관리</a></li>
							<li><a href="#">사용자승인관리</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<article id="content">
		<p id="page_loc"><a href="#">홈</a> &gt; <a href="#">운수회사 경영현황</a> &gt; <a href="#">영업현황</a></p>
		<h2 id="tit_page">영업현황</h2>
		
		<p class="biz_note"><strong>실제 운행대수와 실시간 데이터 수집 차량에 대한 운행 대수의 차이가 발생할 수 있습니다.</strong></p>
		<div class="biz_status_chart">
			<div class="chart">
				<div id="average"></div>
				<p class="total">
					<strong>1,235</strong>
					<span>차량 1대당 0.56</span>
				</p>
			</div>
			<div class="chart">
				<div id="today"></div>
				<p class="total">
					<strong>1,235</strong>
					<span>차량 1대당 0.56</span>
				</p>
			</div>
			<div class="chart">
				<h3 class="tit">요일 평균 대비 동시간대 증감 현황</h3>
				<div class="cont">
					<div class="fluctuate">
						<div id="fluctuate1"></div>
					</div>
					<div class="fluctuate">
						<div id="fluctuate2"></div>
					</div>
					<div class="fluctuate">
						<div id="fluctuate3"></div>
					</div>
					<div class="fluctuate">
						<div id="fluctuate4"></div>
					</div>
					<div class="fluctuate">
						<div id="fluctuate5"></div>
					</div>
				</div>
				<p class="legend"><span class="legend1"></span> 요일평균 <span class="legend2"></span> 금일</p>
			</div>
		</div>
		
		<div class="accordion main">
			<h3 class="tit"><a href="#" class="btn_open">기간별 영업 현황</a></h3>
			<div class="cont">
				<div class="setting">
					<ul class="btnset_period switch">
						<li class="on"><button type="button">시간별</button></li>
						<li><button type="button">요일별</button></li>
						<li><button type="button">일별</button></li>
						<li><button type="button">주차별</button></li>
						<li><button type="button">월별</button></li>						
					</ul>
					<span class="btnset_view">
						<a href="#" class="k-button k-button-icontext"><span class="k-icon k-i-zoom-in"></span>상세조회</a>
						<a href="#" class="k-button"><span class="k-icon k-i-track-changes-enable"></span></a>
					</span>
				</div>
				
				<dl class="accordion sub">
					<dt class="tit">
						<a href="#" class="btn_open">
							<strong>시간대별 가동률 대비 수입금 변동추이 현황</strong>
							<span class="since">2017년 01월 12일 기준</span>
						</a>
						<div class="btnset">
							<ul class="btnset_chart switch">
								<li class="on"><button type="button" class="table">표</button></li>
								<li><button type="button" class="graph">그래프</button></li>
							</ul>
							<a href="#" class="btn_xls">엑셀</a>
							<a href="#" class="btn_open">여닫기</a>
						</div>
					</dt>
					<dd class="cont">
						<div class="tab table">
							<div class="tb_chart">
								<div class="table_view"></div>
							</div>
						</div>
						<div class="tab graph">
							<div class="chart">
								<div id="change"></div>
							</div>
						</div>
					</dd>
				</dl>

				<dl class="accordion sub">
					<dt class="tit">
						<a href="#" class="btn_open">
							<strong>시간대별 수입금 분포 현황</strong>
							<span class="since">2017년 01월 12일 기준</span>
						</a>
						<div class="btnset">
							<ul class="btnset_chart switch">
								<li class="on"><button type="button" class="table">표</button></li>
								<li><button type="button" class="graph">그래프</button></li>
							</ul>
							<a href="#" class="btn_xls">엑셀</a>
							<a href="#" class="btn_open">여닫기</a>
						</div>
					</dt>
					<dd class="cont">
						<div class="tab table">
							<div class="tb_chart">
								<div class="table_view"></div>
							</div>
						</div>
						<div class="tab graph">
							<div class="chart">
								<div id="chart1-1"></div>
							</div>
						</div>
					</dd>
				</dl>

				<dl class="accordion sub">
					<dt class="tit">
						<a href="#" class="btn_open">
							<strong>시간대별 영업횟수 분포 현황</strong>
							<span class="since">2017년 01월 12일 기준</span>
						</a>
						<div class="btnset">
							<ul class="btnset_chart switch">
								<li class="on"><button type="button" class="table">표</button></li>
								<li><button type="button" class="graph">그래프</button></li>
							</ul>
							<a href="#" class="btn_xls">엑셀</a>
							<a href="#" class="btn_open">여닫기</a>
						</div>
					</dt>
					<dd class="cont">
						<div class="tab table">
							<div class="tb_chart">
								<div class="table_view"></div>
							</div>
						</div>
						<div class="tab graph">
							<div class="chart">
								<div id="chart1-2"></div>
							</div>
						</div>
					</dd>
				</dl>
			</div>
		</div>
		
		<div class="accordion main on">
			<h3 class="tit"><a href="#" class="btn_open">수입금액대별 영업 현황</a></h3>
			<div class="cont">
				<div class="setting">
					<div class="slider">
						<strong>수입금액대 구간 설정</strong>
						최소수입금
						<input id="slider" class="balSlider" value="0" />
						최대수입금
						<button type="button" class="btn"><span class="k-icon k-i-search"></span></button>
					</div>
					<span class="btnset_view">
						<a href="#" class="k-button k-button-icontext"><span class="k-icon k-i-zoom-in"></span>상세조회</a>
						<a href="#" class="k-button"><span class="k-icon k-i-track-changes-enable"></span></a>
					</span>
				</div>

				<dl class="accordion sub on">
					<dt class="tit">
						<a href="#" class="btn_open">
							<strong>수입금액대별 영업횟수 분포현황</strong>
							<span class="since">2017년 01월 12일 기준</span>
						</a>
						<div class="btnset">
							<ul class="btnset_chart switch">
								<li><button type="button" class="table">표</button></li>
								<li class="on"><button type="button" class="graph">그래프</button></li>
							</ul>
							<a href="#" class="btn_xls">엑셀</a>
							<a href="#" class="btn_open">여닫기</a>
						</div>
					</dt>
					<dd class="cont">
						<div class="tab table">
							<div class="tb_chart">
								<div class="table_view"></div>
							</div>
						</div>
						<div class="tab graph">
							<div class="chart">
								<div id="chart2-1"></div>
							</div>
						</div>
					</dd>
				</dl>

				<dl class="accordion sub">
					<dt class="tit">
						<a href="#" class="btn_open">
							<strong>수입금액대별 영업거리 분포현황</strong>
							<span class="since">2017년 01월 12일 기준</span>
						</a>
						<div class="btnset">
							<ul class="btnset_chart switch">
								<li class="on"><button type="button" class="table">표</button></li>
								<li><button type="button" class="graph">그래프</button></li>
							</ul>
							<a href="#" class="btn_xls">엑셀</a>
							<a href="#" class="btn_open">여닫기</a>
						</div>
					</dt>
					<dd class="cont">
						<div class="setting">
							<ul class="btnset_period switch">
								<li class="on"><button type="button">오전/오후</button></li>
								<li><button type="button">일별</button></li>
							</ul>
						</div>
						<div class="tab table">
							<div class="tb_chart">
								<div class="table_view"></div>
							</div>
						</div>
						<div class="tab graph">
							<div class="chart"></div>
						</div>
					</dd>
				</dl>
			</div>
		</div>

		<div class="accordion main">
			<h3 class="tit"><a href="#" class="btn_open">운전자별 영업 현황</a></h3>
			<div class="cont">
			</div>
		</div>

		<div class="accordion main">
			<h3 class="tit"><a href="#" class="btn_open">유관정보 대비 수입금 현황</a></h3>
			<div class="cont">
			</div>
		</div>

		<div class="accordion main">
			<h3 class="tit"><a href="#" class="btn_open">평균 영업 현황</a></h3>
			<div class="cont">
			</div>
		</div>

	</article>
	<footer id="footer">
		<div id="policy_area">
			<div class="inner">
				<p class="btm_home"><a href="#">TIMS 택시운행정보관리시스템</a></p>
				<ul id="policy">
					<li><a href="#">이용약관</a></li>
					<li><a href="#">개인정보취급방침</a></li>
					<li><a href="#">원격지원</a></li>
					<li><a href="#">공공데이터이용정책</a></li>
					<li><a href="#">저작권정책</a></li>
				</ul>
			</div>
		</div>
		<address>
			<p class="logo_ts"><a href="#"><img src="../../../images/logo_ts.png" alt="TS 교통안전공단"></a></p>
			39660 경상북도 김천시 혁신6로 17(율곡동.교통안전공단) | TEL. 054-459-7247 | e-mail <a href="mailto:al40037@ts2020.kr">al40037@ts2020.kr</a><br>
			Copyright(C) TS. All right reserved.
		</address>
	</footer>
</div>
</body>
</html>