//
// 컴포넌트
//

.write-area {
	position: relative;

	.btn-area {
		position: absolute;
		right: 0;
		bottom: 4px;
	}
}

/* 레이어 달력 */
#divCalendar {
	position: absolute;
	width: 220px;
	margin-top: -1px;
	padding: 5px 10px;
	max-width: 100%;
	font-size: $font-size-base;
	border: 1px solid $line-base;
	background-color: #fff;
	z-index: 3500;

	table {
		table-layout: auto;
		border-collapse: collapse;
		margin: 0;
		width: 100%;
		text-align: center;
		border: 0;
		color: $darkgray;

		caption {
			height: 0;
			font-size: 0;
			line-height: 0;
			overflow: hidden;
		}

		th,
		td {
			border: 0;
			height: 28px;
			line-height: 28px;
			font-weight: normal;
		}

		a {
			display: block;
		}
	}

	#tableCalendar {
		border-collapse: collapse;

		th:first-child,
		td:first-child {
			color: $primary;
		}

		th:last-child,
		td:last-child {
			color: $blue;
		}

		.today {
			color: #fff !important;
			background-color: $primary;
			font-weight: bold;
		}
	}

	#tableYearTitle,
	#tableMonthTitle,
	#tableCalendarTitle {
		margin: .2em 0;
		font-size: $font-size-lg;
	}

	.prev,
	.next {
		width: 28px;
		height: 28px;
		padding: 0;
		background: url(#{$url-images}ico-arr-left.png) no-repeat center center;
		text-indent: -9999px;
		line-height: 38px;
		white-space: nowrap;
		overflow: hidden;
	}

	.prev {
		float: left;
	}

	.next {
		float: right;
		background-image: url(#{$url-images}ico-arr-right.png);
	}

	.btn-cal-close {
		position: absolute;
		top: -1px;
		right: -18px;
		width: 18px;
		height: 18px;

		a {
			display: block;
			height: 18px;
			border: 1px solid $line-base;
			background: #fff url(#{$url-images}ico-close-lg.png) no-repeat center center;
			background-size: 10px auto;
			text-indent: -9999px;
			overflow: hidden;
		}
	}
}

/* 글꼴 */
.text-normal {
	font-weight: normal !important;
}

.text-bold {
	font-weight: bold !important;
}

.text-md {
	font-size: $font-size-base !important;
}

.text-lg {
	font-size: $font-size-lg !important;
}

.text-xl {
	font-size: $font-size-xl !important;
}

.text-primary {
	color: $primary !important;
}

.text-default {
	color: $darkgray !important;
}

.text-blue {
	color: $blue !important;
}

.text-gray {
	color: $line-dark !important;
}

.text-lightgray {
	color: $line-base !important;
}

.bg-gray {
	background-color: $bg-base !important;
}

.bg-primary {
	background-color: $bg-primary !important;
}

.bg-white {
	background-color: $bg-light !important;
}

/* 입력요소 */
label {
	vertical-align: middle;
}

.input {
	max-width: 100%;
	height: $height-base;
	border: 1px solid #d8d8d8;
	line-height: $height-base - 12px;
	padding: 4px 10px;
	border-radius: 2px;
	font-size: $font-size-base;
	vertical-align: middle;
	box-shadow: none;
	background-color: #fff;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	&[disabled] {
		background: #f9f9f9;
		color: #d8d8d8;
		border-color: #e8e8e8;
	}

	&:focus {
		border-color: $darkgray;
		outline: none;
	}
}

input {

	&[type=text],
	&[type=password],
	&[type=email],
	&[type=search],
	&[type=date] {
		@extend .input;
	}

	&[type=checkbox],
	&[type=radio] {
		position: relative;
		top: 1px;
		display: inline-block;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		vertical-align: middle;

		width: 15px;
		height: 15px;
		border: 1px solid #d8d8d8;
		border-radius: 2px;
		background-color: #fff;

		+ label {
			margin-left: 4px;
		}

		&[disabled] {
			opacity: 1;
			border-color: #e8e8e8;
			background-color: #f9f9f9;
		}

		&[disabled] + label {
			color: #ddd;
		}
	}

	&[type=checkbox] {
		&:checked {
			background: #fff url(#{$url-images}ico-checked.png) no-repeat center center;
			background-size: 15px 15px;
		}

		&[disabled] {
			background-image: url(#{$url-images}ico-checked-disabled.png)
		}
	}

	&[type=radio] {
		border-radius: 8px;

		&:checked {

			border: 5px solid $primary;
			color: $primary;
		}
	}
}

input[type=checkbox]::-ms-check {
	color: $primary;
	border-color: #d8d8d8;
}

input[type=radio]::-ms-check {
	color: $primary;
	border-color: #d8d8d8;
}


select {
	@extend .input;
	padding: 0 30px 0 10px;
	line-height: normal;
	background: url(#{$url-images}ico-arr-select.png) no-repeat right 10px center;

	&::-ms-expand {
		display: none;
	}
}

textarea {
	@extend .input;
	width: 100%;
	height: auto;
	padding-top: 8px;
	padding-bottom: 8px;
}

/* 버튼 */
.btn {
	min-width: 63px;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	border: 1px solid transparent;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	text-decoration: none !important;
	@include btn-size($height: $height-base, $padding-h: 15px, $font-size: 11px);

	&.disabled,
	&[disabled] {
		opacity: .2;
		cursor: default;
	}
}

.btn + .btn {
	margin-left: 2px;
}

p.btn,
span.btn {
	cursor: default;
}

.btn-lg {
	@include btn-size($height: $height-lg, $padding-h: 25px, $font-size: 13px);
	border-color: $line-dark;
	font-weight: $font-weight-bold;
}

.btn-xl {
	@include btn-size($height: $height-xl, $padding-h: 45px, $font-size: 16px);
	border-color: $line-dark;
	font-weight: $font-weight-bold;
}

.btn-border {
	border-color: $primary;
	color: $primary;
	background-color: #fff;

	&.btn-lg {
		border-width: 2px;
		line-height: $height-lg - 4px;
	}

	&.btn-xl {
		border-width: 2px;
		line-height: $height-xl - 4px;
	}
}

.btn-default {
	border-color: $line-base;
	color: $darkgray;
	background-color: #fff;

	&.disabled,
	&[disabled] {
		color: #d3d3d3;
		border-color: #e4e4e4;
		background-color: $bg-base;
		opacity: 1;
	}
}

.btn-primary {
	color: #fff;
	border-color: transparent;
	background-color: $primary;
}

.btn-secondary {
	color: #fff;
	border-color: transparent;
	background-color: $darkgray;
}

/* 아이콘 */
.ico {
	display: inline-block;
	vertical-align: middle;
	text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;
	content: '';
}

.ico-collapse {
	@include ico(21px, 34px, 'ico-collapse.png');
}

.ico-sort {
	@include ico(20px, 20px, 'ico-sort.png');
}

.ico-calendar {
	@include ico(30px, $height-base, 'ico-calendar.png');
	background-position: center 3px;
}

.ico-loading {
	@include ico(27px, 27px, 'ico-loading.gif');
}

.ico-close {
	@include ico(30px, 30px, 'ico-close-lg.png');
	background-size: cover;
}

/* 표 */
.table {
	width: 100%;
	margin-bottom: 25px;
	border-top: 2px solid $line-dark;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #fff;

	caption {
		display: none;
	}

	th,
	td {
		height: 42px;
		padding: 7px 20px 8px;
		border-bottom: 1px solid $line-light;
		text-align: left;
		font-size: $font-size-base;
		line-height: 1.1;
	}

	th {
		background-color: $bg-base;
	}

	thead th,
	thead ~ tbody th,
	thead ~ tbody td,
	thead ~ tfoot th,
	thead ~ tfoot td {
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
	}

	a {
		text-decoration: underline;
	}
}

.table-borderless {
	border-top: 0;
	margin-bottom: 20px;

	th,
	td {
		font-weight: normal;
		padding: 0;
		border: 0;
		background-color: transparent;

		> * {
			vertical-align: middle;
		}
	}
}


// 구성요소
.pannel {
	margin-top: 15px;
}

.pannel-closed {
	.pannel-body {
		display: none;
	}
}

.title {
	display: inline-block;
	line-height: 34px;
	vertical-align: middle;
	font-size: $font-size-lg;
	margin-right: 30px !important;
}

.pannel-header {
	@extend .both;
	position: relative;
	padding: $content-padding-v $content-padding-h;
	background-color: $bg-light;

	.ico-collapse {
		position: absolute;
		right: $content-padding-h;
		top: 15px;
	}

	@include clearfix;
}

.pannel-body {
	margin-top: 1px;
	padding: $content-padding-v $content-padding-h 25px;
	background-color: $bg-light;

	@include clearfix;
}

.left,
.right {
	display: flex;
	-ms-display: flex;
	align-items: center;
	-ms-align-items: center;
}

.left {
	float: left;
	padding-right: 0;

	> *,
	.form-item {
		margin-right: 20px;

		&:first-child {
			margin-right: 0;
		}
	}
}

.right {
	float: right;
	padding-left: 0;

	> *,
	.form-item {
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}
	}
}

.both {
	@include clearfix;

	.left,
	.right {
		min-height: $height-lg;
	}
}

.both-md .left,
.both-md .right {
	min-height: $height-base;
}

.both-lg .left,
.both-lg .right {
	min-height: $height-lg;
}

.both-xl .left,
.both-xl .right {
	min-height: $height-xl;
}

.form-item {
	position: relative;
	display: inline-block;
}

.form-item label + input,
.form-item label + select {
	margin-left: 4px;
}

.form-date input {
	min-width: 108px;
	padding-right: 30px;
}

.form-date .ico-calendar {
	position: absolute;
	top: 0;
	right: 0;
	height: $height-base;
}

.list-header {
	margin-bottom: 15px;
	overflow: hidden;
}

.box {
	border: 1px solid $line-light;
	margin-bottom: 10px;
	padding: 10px 20px;
}

dl.box {
	padding: 0;

	dt {
		padding: 0 20px;
		display: flex !important;
		-ms-display: flex !important;
		justify-content: space-between;
		-ms-justify-content: space-between;
		height: 42px;
		overflow: hidden;
	}

	dd {
		border-top: 1px solid $line-light;
		padding: 10px 20px;
	}
}

.file-list {
	color: $line-base;

	li {
		display: inline-block;
		margin-right: 25px;
	}
}

/* jqGrid CSS Custom */
.ui-widget.ui-jqgrid {
	font-family: $font-family-base;
	border-radius: 0;
	border-color: $line-base;
	border: 0;
	border-top: 2px solid #777;

	.ui-state-default,
	.ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
		background: #f9f9f9;
		border: 0;
		font-weight: bold;
		color: $darkgray;
		border-bottom: 1px solid #e6e6e6;
	}

	.ui-state-highlight,
	.ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
		// 하이라이트 컬러
	}

	.ui-jqgrid-view {
		font-size: 13px;
		line-height: 1.5;
	}


	.loading {
		top: 50%;
		left: 50%;
		margin: -110px 0 0 -110px;
		width: 220px;
		height: 220px;
		text-indent: -9999px;
		border: 0;
		background: url(#{$url-images}img-loading.gif) no-repeat;
		background-size: cover;
		overflow: hidden;
	}

	.ui-jqgrid-htable th {
		height: 42px;
		padding: 7px 20px 8px;
		line-height: 1.1;
		padding-left: 15px;
		padding-right: 15px;
	}

	tr.jqgrow td {
		height: 35px;
		padding-left: 15px;
		padding-right: 15px;
		border-left: none;
		border-right: none;
		border-color: #e6e6e6;
	}

	.ui-grid-ico-sort {
		margin: 0;
		padding: 0;
		@include ico(20px, 20px, 'ico-sort.png');
	}

	.ui-jqgrid-pager {
		// border-top: 1px solid $line-light;
		height: 34px;
		padding: 5px !important;
		background: #f8f8f8;

		td {
			vertical-align: middle;
		}
	}

	.ui-pg-table {
		padding: 0;
	}

	.ui-paging-info {
		margin-top: 0;
		height: auto;
	}

	.ui-pg-input {
		height: 16px;
		vertical-align: middle;
		padding: 0;
		text-align: center;
	}

	.ui-jqgrid-htable th div {
		height: 20px;
		line-height: 20px;
	}

	.ui-pager-control {
		background: none;
	}
}
