//
// 공통
//

@mixin clearfix {
	&:after {
		display: block;
		clear: both;
		content: '';
	}
}

@mixin ico($w, $h, $bg-image, $display: inline-block) {
	display: $display;
	width: $w;
	height: $h;
	background: url($url-images + $bg-image) no-repeat center center;
	// background-size: $w $h;
}

@mixin btn-size($height: 27px, $padding-h: 15px, $font-size: 11px) {
	@extend .btn;
	height: $height;
	padding: 0 $padding-h;
	border-radius: ceil($height * 0.5);
	font-size: $font-size;
	line-height: $height - 2px;
}